{% extends 'pages/base.html' %} {% block title %}Administrace závodu{% endblock title %}
{% load static %}
{% block content %}

<div class="container">
    <div class = "text-center event-admin-header">Administrace závodu: {{event.name}}</div>
</div>

<div class="container">

 {% if request.user.is_superuser %}
    <form method = "POST" class="form-group" enctype="multipart/form-data">
    {% csrf_token %}
      <div id="message" class="container alert-container">
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
      {% endif %}
    </div>

<table class="table table-borderless align-middle table-event-admin">
  <tbody>
    <tr>
      <td><h6>Datum závodu: {{event.date}}</h6></td>
      <td></td>
      <td><h6>Pořadatel: {{event.organizer}}</h6></td>
      <td></td>
      <td><h6>Typ závodu: {{event.event_type}}</h6></td>
    </tr>
    <tr>
      <th scope="row" colspan="5" class = "h5 table-warning text-center" >Soubory pro BEM</th>
    </tr>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th scope="row">Registrovaní jezdci na závod - BEM FILE</th>
      <td>Aktuální ke dni:</td>
      <td> {{event.bem_entries_created}}</td>
      <td><button
            href="#"
            class="btn btn-outline-info blur"
            tabindex="-1"
            role="button"
            name="btn-bem-file"
            aria-disabled="true">Vytvořit/aktualizovat startovku pro BEM</button></td>
        <td><a href="../../{{event.bem_entries}}" class="btn btn-outline-success" download>Stáhnout</a></td>
    </tr>
    <tr>
      <th scope="row">Riders list - BEM FILE</th>
      <td>Aktuální ke dni:</td>
      <td>{{event.bem_riders_created}}</td>
      <td><button
            href="#"
            class="btn btn-outline-info blur"
            tabindex="-1"
            role="button"
            name="btn-riders-list"
            aria-disabled="true">Vytvořit/aktualizovat riders list pro BEM</button></td>
      <td><a href="../../{{event.bem_riders_list}}" class="btn btn-outline-success" download>Stáhnout</a></td>
    </tr>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th scope="row" colspan="5" class = "h5 table-warning text-center" >Výsledky</th>
    </tr>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th scope="row">Výsledky závodu</th>
      <td><label for="result-file" class="form-label">Vyber soubor</label></td>
      <td colspan = "2"><input class="form-control" type="file" name="result-file"></td>
      <td><button type="text" class="btn btn-info blur" name = "btn-upload-result" value = "btn-upload-result">Nahraj výsledky</button></td>
    </tr>
    <tr>
      <th scope="row">Smazat výsledky závodu</th>
      <th></th>
      <th></th>
      <th></th>
      <th><button class = "btn btn-danger" name="delete-result" value="delete-result">Smaž výsledky závodu</button></th>
    </tr>
    <tr>
      <th></th>
    </tr>
    
    {% if event.event_type == "Mezinárodní závod" %}

    <tr>
      <th scope="row" colspan="5" class = "h5 table-warning text-center" >Evropský pohár</th>
    </tr>
    <tr>
      <th></th>
    </tr>
    {% endif %}
    <tr>
      <th scope="row" colspan="5" class = "h5 table-warning text-center" >Notifikace</th>
    </tr>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th scope="row" colspan = "4"><input class="form-control form-control-lg" type="text" placeholder="Napiš notifikaci" aria-label=".form-control-lg example"></th>
      <td><button type="button" class="btn btn-warning">Odešli notifikaci</button></td>
    </tr>


  </tbody>
</table>
</div>
<form>

<div class="spinner div container position-absolute top-50 start-50 translate-middle" id="spinner">
    <div class="d-flex flex-column bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight text-center"><div class="spinner-border ms-auto text-success" style="width: 10rem; height: 10rem;" role="status" aria-hidden="true"></div></div>
        <div class="p-2 bd-highlight"><h1 class = "spinner-header text-center align-middle">PRACUJI.</h1></div>
        <div class="p-2 bd-highlight"><h5 class = "spinner-text text-center">Prosím o chvilku strpení.</h5></div>
    </div>
</div>

<script src = "{% static 'js/show_spinner.js' %}"></script>
{% endif %}

{% endblock content %}