{% extends 'base.html' %} {% block title %} Chyba {% endblock title %}
{% block content %}

<div class="div container position-absolute top-50 start-50 translate-middle">
  <div class="d-flex p-2 bd-highlight justify-content-center mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-x-circle-fill text-danger text-center align-middle" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
</svg></div>
    <h1 class = "success-payment-header text-center align-middle">OOPS. NĚKDE SE STALA CHYBA.</h1>
    <h5 class = "text-center">Vaše platba nebyla přijata. Přihlašte prosím své jezdce znovu, pokud by ani tak přihlášení nebylo úspěšné, kontaktujte Komisi BMX. </h5>
</div>

{% endblock %}
