{% extends 'base.html' %} {% block title %} Dobití kreditu {% endblock title %}
{% block content %}

<div class="justify-between max-w-7xl text-3xl mx-auto font-bold my-4">
 <form action="#" method="POST">
    {% csrf_token %}
    <div class="flex">
        <div class="flex items-center px-4 sm:px-6 lg:px-8 mt-6">
            <div>
                <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Částka pro dobití:</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <span class="text-gray-500 sm:text-sm"></span>
                    </div>
                    <input type="text" name="price" id="price"
                        class="block w-full rounded-md border-0 py-1.5 pl-7 pr-12 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"
                        placeholder="0.00" aria-describedby="price-currency">
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                        <span class="text-gray-500 sm:text-sm" id="price-currency">CZK</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-end ml-6">
            <button type="submit"
                class="rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Dobít
                kredit</button>
        </div>
    </div>
    </form>
    <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700 mt-6">
    <div class="mt-4">

        <!-- CREDIT  -->

        <div class="px-4 sm:px-6 lg:px-8 mt-6">
            <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                    <h1 class="text-base font-semibold leading-6 text-blue-700">Kreditní transakce</h1>
                    <p class="mt-2 text-sm text-gray-500">Zde najdete přehled nabíjení účtu za poslední rok.</p>
                </div>
            </div>
            <div class="mt-8 flow-root">
                <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full align-middle sm:px-6 lg:px-8">
                        <table class="min-w-full divide-y divide-gray-300">
                            <thead>
                                <tr>
                                    <th scope="col"
                                        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Datum
                                    </th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Částka
                                    </th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">ID
                                        transakce
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-300">
                                {% for credit in credits %}
                                <tr>
                                    <td class="pl-4 pr-3 py-3.5 whitespace-nowrap text-sm font-medium text-gray-900 sm:pl-0">
                                        {{credit.transaction_date}}</td>
                                    <td class="px-3 py-3.5 whitespace-nowrap text-sm text-green-500">{{credit.amount}} CZK</td>
                                    <td class="px-3 py-3.5 whitespace-nowrap text-sm text-gray-500">{{credit.transaction_id}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <app-credit-transactions></app-credit-transactions>

        <!-- DEBET  -->

        <div class="px-4 sm:px-6 lg:px-8 mt-6">
            <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                    <h1 class="text-base font-semibold leading-6 text-blue-700">Debetní transakce</h1>
                    <p class="mt-2 text-sm text-gray-500">Zde jsou zobrazeny debetní transakce tvořené jednotlivými
                        přihláškami na závody za poslední rok.</p>
                </div>
            </div>
            <div class="mt-8 flow-root">
                <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full align-middle sm:px-6 lg:px-8">
                        <table class="min-w-full divide-y divide-gray-300">
                            <thead>
                                <tr>
                                    <th scope="col"
                                        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Datum
                                    </th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Částka
                                    </th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Jezdec a závod
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-300">
                                {% for debet in debets %}
                                {% if debet.payment_valid %}
                                <tr>
                                    <td class="pl-4 pr-3 py-3.5 whitespace-nowrap text-sm font-medium text-gray-900 sm:pl-0">
                                        {{debet.transaction_date}}</td>
                                    <td class="px-3 py-3.5 whitespace-nowrap text-sm text-red-500">{{debet.amount}} CZK</td>
                                    <td class="px-3 py-3.5 whitespace-nowrap text-sm text-gray-500">{{debet.entry}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}