{% extends 'base.html' %} {% block title %} Přihlášení na závody
{% endblock title %} {% load static %} {% block content %}

<header class="shadow dark:dark">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold">Seznam přihlášených jezdců na {{event.name}}</h1>
  </div>
</header>

<div class="max-w-7xl mx-auto">
<div class="search" style="margin-top: 2rem">
  <div class="grid grid-cols-3 gap-4 mb-6">

    <div class="">
      <input
        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md dark:dark"
        type="text"
        placeholder="Napiš příjmení"
        aria-label="default input example"
        onkeyup="searchByName()"
        id="inputName"/>
    </div>

    <div class="">
      <input
        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md dark:dark"
        type="text"
        placeholder="Napiš klub"
        aria-label="default input example"
        onkeyup="searchByClub()"
        id="inputClub"/>
    </div>

    <div class="">
      <input
        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md dark:dark"
        type="text"
        placeholder="Napiš kategorii"
        aria-label="default input example"
        onkeyup="searchByClass()"
        id="inputClass"/>
    </div>
  </div>

  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200" id="myTable">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:dark uppercase tracking-wider">
                  Jméno
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:dark uppercase tracking-wider">
                  Klub, UCI ID
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:dark uppercase tracking-wider">
                  Kategorie
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:dark uppercase tracking-wider">
                  Startovní číslo
                </th>
                {% if user.is_superuser %}
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:dark uppercase tracking-wider">Info o platbě</th>
                {% endif %}
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {% for entry in entries %}
              <tr onclick="window.location='{% url 'rider:detail' entry.rider_id %}';" class="" style='cursor: pointer;'>
                <td class="px-6 py-2 whitespace-nowrap dark:dark">
                  <div class="flex items-center">
                      <div class="relative">
                        <img class="h-10 w-10 rounded-full" src="{{entry.rider.photo.url}}" alt="">
                        {% if entry.rider.valid_licence %}
                          <span class="bottom-0 left-7 absolute w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                        {% else %}
                          <span class="bottom-0 left-7 absolute w-3.5 h-3.5 bg-red-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                        {% endif%}
                      </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900 dark:dark">
                        {{entry.rider.last_name|upper}}
                      </div>
                      <div class="text-sm text-gray-500 dark:dark">
                        {{entry.rider.first_name}}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-2 whitespace-nowrap dark:dark">
                  <div class="text-sm text-gray-900 dark:dark">{{entry.rider.club|upper}}</div>
                  <div class="text-sm text-gray-500 dark:dark">{{entry.rider.uci_id}}</div>
                </td>
                <td class="px-6 py-2 whitespace-nowrap dark:dark">
                  <div class="flex items-center">
                    <div class="">
                      <div class="text-sm font-medium text-gray-500 dark:dark"> 
                        {% if entry.is_20 %}
                          {{entry.class_20}}
                        {% else %}
                          {{entry.class_24}}
                        {% endif %}
                      </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="dark:dark">
                <div class="flex flex-row px-6 py-2 space-x-4">
                {{entry.rider.plate}}</div>
                </div>
                </td>
                {% if user.is_superuser %}
                  <td></td>
                {% endif %}
              </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="{% static 'js/entries.js' %}"></script>
  </div>
</div>

{% if checkout %}
  <div class="max-w-7xl mx-auto mt-6"
    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg dark:dark">
      <div class="text-3xl font-bold">Seznam odhlášených jezdců</div>
    </div>
  </div>
  <div class="flex flex-col max-w-7xl mx-auto">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8  mt-6">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200" id="myTable">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:dark uppercase tracking-wider">
                  Jméno
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:dark uppercase tracking-wider">
                  Klub, UCI ID
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:dark uppercase tracking-wider">
                  Kategorie
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:dark uppercase tracking-wider">
                  Startovní číslo
                </th>
                {% if user.is_superuser %}
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Info o platbě</th>
                {% endif %}
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {% for entry in checkout %}
              <tr onclick="window.location='{% url 'rider:detail' entry.rider_id %}';" class="" style='cursor: pointer;'>
                <td class="px-6 py-2 whitespace-nowrap dark:dark">
                  <div class="flex items-center">
                      <div class="relative">
                        <img class="h-10 w-10 rounded-full" src="{{entry.rider.photo.url}}" alt="">
                        {% if entry.rider.valid_licence %}
                          <span class="bottom-0 left-7 absolute w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                        {% else %}
                          <span class="bottom-0 left-7 absolute w-3.5 h-3.5 bg-red-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                        {% endif%}
                      </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900 dark:dark">
                        {{entry.rider.last_name|upper}}
                      </div>
                      <div class="text-sm text-gray-500">
                        {{entry.rider.first_name}}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-2 whitespace-nowrap dark:dark">
                  <div class="text-sm text-gray-900 dark:dark">{{entry.rider.club|upper}}</div>
                  <div class="text-sm text-gray-500 dark:dark">{{entry.rider.uci_id}}</div>
                </td>
                <td class="px-6 py-2 whitespace-nowrap dark:dark">
                  <div class="flex items-center">
                    <div class="">
                      <div class="text-sm font-medium text-gray-500 dark:dark"> 
                          {{entry.class_20}}
                      </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="dark:dark">
                <div class="flex flex-row px-6 py-2 space-x-4">
                {{entry.rider.plate}}</div>
                </div>
                </td>
                {% if user.is_superuser %}
                  <td class="dark:dark"></td>
                {% endif %}
              </tr>
              {% endfor%}

              {% for entry in entries_24 %}
              <tr onclick="window.location='{% url 'rider:detail' entry.rider.id %}';" class="" style='cursor: pointer;'>
                <td class="px-6 py-2 whitespace-nowrap dark:dark">
                  <div class="flex items-center">
                      <div class="relative">
                        <img class="h-10 w-10 rounded-full" src="{{entry.rider.photo.url}}" alt="">
                        {% if entry.rider.valid_licence %}
                          <span class="bottom-0 left-7 absolute w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                        {% else %}
                          <span class="bottom-0 left-7 absolute w-3.5 h-3.5 bg-red-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                        {% endif%}
                      </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900 dark:dark">
                        {{entry.rider.last_name|upper}}
                      </div>
                      <div class="text-sm text-gray-500">
                        {{entry.rider.first_name}}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-2 whitespace-nowrap dark:dark">
                  <div class="text-sm text-gray-900 dark:dark">{{entry.rider.club|upper}}</div>
                  <div class="text-sm text-gray-500 dark:dark">{{entry.rider.uci_id}}</div>
                </td>
                <td class="px-6 py-2 whitespace-nowrap dark:dark">
                  <div class="flex items-center">
                    <div class="">
                      <div class="text-sm font-medium text-gray-500 dark:dark"> 
                          {{entry.class_24}}
                      </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="dark:dark">
                <div class="flex flex-row px-6 py-2 space-x-4">
                {{entry.rider.plate}}</div>
                </div>
                </td>
                {% if user.is_superuser %}
                <td></td>
                {% endif %}
              </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endif %}
</div>
{% endblock content %}