{% extends 'base.html' %} {% block title %} Přihlášení na závody
{% endblock title %} {% load static %} {% block content %}

<form method="POST">
  {% csrf_token %}

<header class="shadow dark:dark">
  <div class="fixed ml-0 p-0 w-full mx-auto py-2 dark:dark">
      <div class="flex justify-between max-w-7xl text-3xl mx-auto font-bold my-4 bg-white dark:dark">
        <div>Přihlášení na {{event.name}}</div>
          <div>
            <button type="submit" class="text-md btn--green" id="">
            Check-in
            </button>
          </div>
        </div>
    </div>
  </div>
</header>

<div class = "max-w-7xl mx-auto dark:dark--text pt-32">
  <div class="text-2xl ">Datum konání: <b>{{event.date}}</b></div>
</div>
<br>
<div class = "max-w-7xl mx-auto dark:dark--text">
  <div class="">
    <div class="grid grid-cols-2 gap-4">
      <div class="">
        <input
          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md dark:dark"
          type="text"
          placeholder="Napiš příjmení jezdce"
          aria-label="default input example"
          onkeyup="searchByLastName()"
          id="inputLastName"
        />
      </div>
    
      <div class="">
        <input
          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md dark:dark"
          type="text"
          placeholder="Napiš klub"
          aria-label="default input example"
          onkeyup="searchByClub()"
          id="inputClub"
        />
      </div>
    </div>
  </div>

    <div class="-mx-4 mt-4 mb-6 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
      <table class="min-w-full divide-y divide-gray-300" id="myTable">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-sm font-semibold text-gray-900 dark:dark sm:pl-6 text-center">Start.č.</th>
            <th scope="col" class="dark:dark"></th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:dark sm:pl-6">Příjmení</th>
            <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:dark lg:table-cell">Jméno</th>
            <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:dark sm:table-cell">Klub</th>
            <th scope="col" class="hidden md:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:dark">UCI ID</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:dark">20"</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:dark">24" (Cruiser)</th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200 bg-white">
          {% for rider in riders %}
          <tr>
            <td class="mt-1 truncate text-gray-700 dark:dark text-center">{{rider.plate}}</td>
            <td class="dark:dark"><img class="avatar img-fluid rounded-circle dark:dark" src="{{rider.photo.url}}" alt="" sizes="6px" srcset=""
              style="width: 2rem; height: 2rem;"></td>
            <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 dark:dark sm:w-auto sm:max-w-none sm:pl-6">
              {{rider.last_name}}
              <dl class="font-normal lg:hidden">
                <dt class="sr-only">Title</dt>
                <dd class="mt-1 truncate text-gray-700 dark:dark">{{rider.first_name}}</dd>
                <dt class="sr-only sm:hidden">Email</dt>
                <dd class="mt-1 truncate text-gray-500 dark:dark sm:hidden">{{rider.club|upper}}</dd>
              </dl>
            </td>
            <td class="hidden px-3 py-4 text-sm text-gray-500 dark:dark lg:table-cell">{{rider.first_name}}</td>
            <td class="hidden px-3 py-4 text-sm text-gray-500 dark:dark sm:table-cell">{{rider.club|upper}}</td>
            <td class="hidden px-3 py-4 text-sm text-gray-500 dark:dark md:table-cell">{{rider.uci_id}}</td>
            {% if 'registered' in rider.class_20 %}
            <td class="mt-1 text-sm truncate dark:dark">
              <div class="text-white hover:text-gray-200 bg-green-700 mx-auto py-2 px-2 rounded-lg">
              <input
                class=""
                type="checkbox"
                value="{{rider.uci_id}}"
                id="checkbox_20"
                name="checkbox_20"
                checked
                disabled
              />
             
              {{rider.class_20|slice:":-10" }}
            
            </div>
            </td>
            {% else %}
            <td class="mt-1 text-sm truncate text-gray-700 dark:dark">
              <input
                class=""
                type="checkbox"
                value="{{rider.uci_id}}"
                id="checkbox_20"
                name="checkbox_20"
              />
              {{rider.class_20}}
            </td>
            {% endif %}
            {% if 'registered' in rider.class_24 %}
            <td class="mt-1 text-sm truncate text-gray-700 dark:dark" >
              <div class="text-white hover:text-gray-200 bg-green-700 mx-auto py-2 px-2 rounded-lg">
              <input
                class=""
                type="checkbox"
                value="{{rider.uci_id}}"
                id="checkbox_24"
                name="checkbox_24"
                checked
                disabled
              />{{rider.class_24|slice:":-10" }}</div>
            </td>
            {% else %}
            <td class="mt-1 text-sm truncate text-gray-700 dark:dark">
              <input
                class=""
                type="checkbox"
                value="{{rider.uci_id}}"
                id="checkbox_24"
                name="checkbox_24"
              />
              {{rider.class_24}}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <a href="#" class="arrow" id="to-top"><i class="bi bi-arrow-up-square-fill"></i></a>
  </form>
</div>

<script src="{% static 'js/entry.js' %}"></script>
<script src="{% static 'js/arrow.js' %}"></script>

{% endblock content %}
