{% extends 'base.html' %} 
{% load static %}
{% block title %} Potvrzení přihlášky {% endblock title %}
{% block content %}
<h1 class="text-4xl text-black-900 text-center mt-5 py-3 dark:dark--header">Potvrzení přihlášky na {{event.name}}</h1>

<section>
    <div class="container">
        <h5 class=" my-3 dark:dark--text">Datum konání závodu: {{event.date}}</h5>
        <table class="table table-borderless">
            <thead>
            <tr class="dark:dark-text">
                <th scope="col" class="dark:dark--text">Příjmení</th>
                <th scope="col" class="dark:dark--text">Jméno</th>
                <th scope="col" class="dark:dark--text">Star. č.</th>
                <th scope="col" class="dark:dark--text">UCI ID</th>
                <th scope="col" class="dark:dark--text">Kategorie</th>
            </tr>
            </thead>
            <tbody>
            {% if riders_20 %}
            <tr>
                <th colspan="5" class="text-xl bg-blue-700 dark:bg-blue-300 dark:dark--text">Do kategorie Challenge, Junior, Under 23 a Elite přihlašujete: ( Celkem {{sum_20}} )</th>
            </tr>
            {% for rider_20 in riders_20 %}
            <tr>
                <th scope="row" class="dark:dark--text">{{ rider_20.last_name|upper }}</th>
                <td class="dark:dark--text">{{ rider_20.first_name }}</td>
                <td class="dark:dark--text">{{rider_20.plate}}</td>
                <td class="dark:dark--text">{{rider_20.uci_id}}</td>
                <td class="dark:dark--text">{{rider_20.class_20}}</td>
            </tr>
            {% endfor %}
            {% endif %}

            {% if riders_24 %}
            <tr>
                <th colspan="5" class="text-xl bg-blue-700 dark:bg-blue-300 dark:dark--text">Do kategorie Cruiser přihlašujete: ( Celkem {{sum_24}} )</th>
            </tr>
            {% for rider_24 in riders_24 %}
            <tr>
                <th scope="row" class="dark:dark--text">{{ rider_24.last_name|upper }}</th>
                <td class="dark:dark--text">{{ rider_24.first_name }}</td>
                <td class="dark:dark--text">{{rider_24.plate}}</td>
                <td class="dark:dark--text">{{rider_24.uci_id}}</td>
                <td class="dark:dark--text">{{rider_24.class_24}}</td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</section>

<div class="container dark:dark--text" style = "margin-top: 3rem">
    <h5>Celkové startovné: {{sum_fee}} CZK.</h5>

{% csrf_token %}
<div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" id="checkout-button">Přejít k placení</button>
    </div>
</div>
</div>
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock content %}
