{% extends 'base.html' %} 
{% block title %} Kalendář závodů {% endblock title %} 
{% block content %}

<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-header">Kalendář závodů</h1>
  </div>
</header>

<div class="max-w-screen-2xl mx-auto">

<div class="flex flex-auto mt-6">
  <nav class="mx-auto relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
    <a href="{% url 'event:events-by-year' last_year %}" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
      <span class="sr-only">Previous</span>
      <!-- Heroicon name: solid/chevron-left -->
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
    </a>
    <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
    <a href="{% url 'event:events-by-year' last_year %}" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium">{{last_year}}</a>
    <a href="#" aria-current="page" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">{{year}}</a>
    <a href="{% url 'event:events-by-year' next_year %}" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium">{{next_year}}</a>
    <a href="{% url 'event:events-by-year' next_year %}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
      <span class="sr-only">Next</span>
      <!-- Heroicon name: solid/chevron-right -->
      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
    </a>
  </nav>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 sm:px-6 lg:px-8">

  <div class="-mx-4 mt-8 mb-4 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Datum</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Název</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Pořadatel</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Druh</th>
          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
            <span class="sr-only"></span>
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        {% for event in events%}
        {% if event.type_for_ranking == "Český pohár" %}
        <tr class="bg-blue-50">
        {% elif event.type_for_ranking == "Mistrovství ČR jednotlivců" or event.type_for_ranking == "Mistrovství ČR družstev" %}
        <tr class="bg-red-50">
        {% elif event.type_for_ranking == "Česká liga" or event.type_for_ranking == "Moravská liga" %}
        <tr class="bg-lime-50">
        {% else %}
        <tr class="bg-amber-50">
        {% endif %}
          <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
            {{event.date}}
            <dl class="font-normal lg:hidden">
              <dt class="sr-only">{{event.name}}</dt>
              <dd class="mt-1 truncate text-gray-700"><a href="{% url 'event:event-detail' event.id %}" class="no-underline">{{event.name}}</dd>
              <dt class="sr-only sm:hidden">{{event.organizer|upper}}</dt>
              <dd class="mt-1 truncate text-gray-500 sm:hidden">{{event.organizer|upper}}</dd>
            </dl>
          </td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><a href="{% url 'event:event-detail' event.id %}" class="no-underline lg:text-md">{{event.name}}</td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{event.organizer|upper}}</td>
          <td class="px-3 py-4 text-sm text-gray-500">{{event.type_for_ranking}}</td>
          <td class="py-2 text-sm font-medium sm:pr-6">
            <div class="flex flex-col justify-center h-full w-full">
            {% if event.reg_open%}
            <a href="{% url 'event:entry' event.id %}" class="py-1 my-1 px-4 mx-2 text-sm font-medium sm:pr-6 btn--yellow">Přihlásit</a>
            {% endif %}
            {% if event.results_uploaded %}
            <a href = "{% url 'event:results' event.id %}" class="py-1 my-1 px-4 mx-2 text-sm font-medium sm:pr-6 btn--green">Výsledky</a>
            {% endif %}
            {% if request.user.is_superuser %}
              <a href="{% url 'event:event-admin' event.id %}" class="py-1 my-1 px-4 mx-2 text-sm font-medium sm:pr-6 btn--purple">Admin</a>
            {% endif %}
            </div>
            </td>
        </tr>
        <!-- More people... -->
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
</div>
{% endblock content %}
