{% extends 'base.html' %} {% block title %}Administrace závodu{% endblock title %}
{% load static %}
{% block content %}

<div class = "blur-md"></div>

<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-header">Administrace závodu: {{event.name}}</h1>
  </div>
</header>

<div class="max-w-7xl mx-auto">
<!-- This example requires Tailwind CSS v2.0+ -->
<div>
  <dl class="mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden shadow divide-y divide-gray-200 md:grid-cols-3 md:divide-y-0 md:divide-x">
    <div class="px-4 py-5 sm:p-6">
      <dt class="text-base font-normal text-gray-900">Přihlášeno jezdců</dt>
      <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
          {{sum_of_riders}}
        </div>
      </dd>
    </div>

    <div class="px-4 py-5 sm:p-6">
      <dt class="text-base font-normal text-gray-900">Vybrané startovné</dt>
      <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
          {{sum_of_fees}} CZK
        </div>
      </dd>
    </div>

    <div class="px-4 py-5 sm:p-6">
      <dt class="text-base font-normal text-gray-900">Poslat pořadateli</dt>
      <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
          {{organizer_fee}} CZK
        </div>
      </dd>
    </div>
  </dl>
</div>
</div>

<div class="container dark:dark--text">

 {% if request.user.is_superuser %}
    <form method = "POST" class="form-group" enctype="multipart/form-data">
    {% csrf_token %}
      <div id="message" class="container alert-container">
      {% if messages %}
      {% for message in messages %}

      <div role="alert">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
          CHYBA!
        </div>
        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
          <p>{{message}}</p>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>

<table class="table table-borderless align-middle table-event-admin">
  <tbody>
    <tr>
      <td><h6>Datum závodu: {{event.date}}</h6></td>
      <td></td>
      <td><h6>Pořadatel: {{event.organizer}}</h6></td>
      <td></td>
      <td><h6>Typ závodu: {{event.type_for_ranking}}</h6></td>
    </tr>
    <tr>
      <th scope="row" colspan="5" class = "h5 table-warning text-center" >Soubory pro BEM</th>
    </tr>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th scope="row" class="dark:dark--text">Registrovaní jezdci na závod - BEM FILE</th>
      <td>Aktuální ke dni:</td>
      <td> {{event.bem_entries_created}}</td>
      <td><button
            href="#"
            class="btn btn-outline-info blurApp dark:dark--text"
            tabindex="-1"
            role="button"
            name="btn-bem-file"
            aria-disabled="true">Vytvořit/aktualizovat startovku pro BEM</button></td>
        <td><a href="../../{{event.bem_entries}}" class="btn btn-outline-success" download>Stáhnout</a></td>
    </tr>
    <tr>
      <th scope="row">Riders list - BEM FILE</th>
      <td>Aktuální ke dni:</td>
      <td>{{event.bem_riders_created}}</td>
      <td><button
            href="#"
            class="btn btn-outline-info blurApp dark:dark--text"
            tabindex="-1"
            role="button"
            name="btn-riders-list"
            aria-disabled="true">Vytvořit/aktualizovat riders list pro BEM</button></td>
      <td><a href="../../{{event.bem_riders_list}}" class="btn btn-outline-success" download>Stáhnout</a></td>
    </tr>
    <tr>
      <th></th>
    </tr>
    {% if invalid_licences%}
    <tr>
      <th scope="row" colspan="5" class = "h5 table-warning text-center dark:dark--text" >Přihlášení jezdci s neplatnou licencí</th>
    </tr>
    <tr>
      {% for rider in invalid_licences %}
      <tr>
        <td></td>
        <td>{{rider.last_name|upper}} {{rider.first_name}}, UCI ID: {{rider.uci_id}}</td>
        <td>klub: {{rider.club}}</td>
      </tr>
      {% endfor %}
    {% endif %}
    <tr>
      <th scope="row" colspan="5" class = "h5 table-warning text-center" >Výsledky závodu</th>
    </tr>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th scope="row" class="dark:dark--text">Nahrát výsledky závodu (xls)</th>
      <td colspan = "3"><input class="form-control" type="file" name="result-file"></td>
      <td><button type="text" class="btn btn-info blurApp px-auto" name = "btn-upload-result" value = "xls"
        {% if event.xml_results %}
        {% comment %} disabled {% endcomment %}
        {% endif%}
      >Nahraj výsledky</button></td>
    </tr>
    <tr>
      <th scope="row">Smazat výsledky závodu (xls)</th>
      <th></th>
      <th></th>
      <th></th>
      <th><button class = "btn btn-danger blurApp" name="btn-delete-xls" value="delete"
        {% if not event.xml_results %}
        disabled
        {% endif%}
        >Smaž výsledky závodu</button></th>
    </tr>
    <tr>
      <th scope="row">Nahrát výsledky závodu s časy (pdf)</th>
      <td colspan = "3"><input class="form-control" type="file" name="result-file-pdf"></td>
      <td><button type="text" class="btn btn-info blurApp" name = "btn-upload-pdf" value = "pdf"
        {% if event.full_results_path %}
        disabled
        {% endif%}
        >Nahraj výsledky</button></td>
    </tr>
    <tr>
      <th scope="row">Smazat výsledky závodu (pdf)</th>
      <th></th>
      <th></th>
      <th></th>
      <th><button class = "btn btn-danger blurApp" name="btn-delete-pdf" value="delete">Smaž výsledky závodu</button></th>
    </tr>

    <tr>
      <th></th>
    </tr>

    {% if event.event_type == "Mezinárodní závod" %}

    <tr>
      <th scope="row" colspan="5" class = "h5 table-warning text-center" >Evropský pohár</th>
    </tr>
    <tr>
      <th></th>
    </tr>
    {% endif %}
    <tr>
      <th scope="row" colspan="5" class = "h5 table-warning text-center" >Notifikace</th>
    </tr>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th scope="row" colspan = "4"><input class="form-control form-control-lg" type="text" placeholder="Napiš notifikaci" aria-label=".form-control-lg example"></th>
      <td><button type="button" class="btn btn-warning">Odešli notifikaci</button></td>
    </tr>
  </tbody>
</table>
</div>
<form>

{% include "spinner.html" %}

{% endif %}

</div>
{% endblock content %}
