{% extends 'base.html' %} 
{% block title %} Kalendář závodů {% endblock title %} 
{% block content %}

<h1 class="text-4xl text-black-900 text-center mt-4 py-3 text-purple-700">KALENDÁŘ ZÁVODŮ</h1>

<div class="container mt-3">

<div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
  <div class="p-2 bd-highlight">
    <nav aria-label="Page navigation example">
      <ul class="pagination text-black">
        <li class="page-item">
          <a class="page-link text-black" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link text-black" href="{% url 'event:events-by-year' last_year %}">{{last_year}}</a></li>
        <li class="page-item"><a class="page-link text-gray-50 bg-gray-800" href="#">{{year}}</a></li>
        <li class="page-item"><a class="page-link text-black" href="{% url 'event:events-by-year' next_year %}">{{next_year}}</a></li>
        <li class="page-item">
          <a class="page-link text-black" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Název</th>
        <th scope="col">Pořadatel</th>
        <th scope="col">Druh</th>
        <th scope="col"></th>
        <th scope="col"></th>
        {% if request.user.is_superuser %}
        <th scope="col"></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for event in events%}
      {% if event.type == 'Mistrovství ČR jednotlivců' or event.type == "Mistrovství ČR družstev" %}
            <tr class="bg-rose-200">
        {% elif event.type == 'Český pohár' %}
             <tr class="bg-emerald-200">
        {% elif event.type == 'Česká liga' %}
            <tr class="table-success">
        {% elif event.type == 'Moravská liga' %}
            <tr class="bg-blue-200">
        {% elif event.type == 'Mezinárodní závod' %}
            <tr class="table-secondary">
        {% else %}
            <tr class="bg-amber-100">
        {% endif %}

        {% if event.canceled %}
          <tr class="table-light text-decoration-line-through">
        {% endif %}

        <th scope="row"><a href="{% url 'event:event-detail' event.id %}" style="text-decoration: none; color: black">{{event.date}}</a></th>
        <td class = ""><a href="{% url 'event:event-detail' event.id %}" style="text-decoration: none; color: black">{{event.name}}</a></td>
        <td><a href="{% url 'event:event-detail' event.id %}" style="text-decoration: none; color: black">{{event.organizer}}</a></td>
        <td><a href="{% url 'event:event-detail' event.id %}" style="text-decoration: none; color: black">{{event.type}}</a></td>
        <td>{% if event.reg_open %}
                <div class="col col-reg"><a
                        href="{% url 'event:entry' event.id %}"
                        class="btn btn-warning"
                        tabindex="-1"
                        role="button"
                        aria-disabled="true"
                >Přihlásit do závodu</a></div>
                {% else %}
                <div class="col col-reg"><a
                    href="{% url 'event:entry' event.id %}"
                    class="btn btn-secondary disabled"
                    tabindex="-1"
                    role="button"
                    aria-disabled="true"
            >Přihlásit do závodu</a></div>
                {% endif %}</td>
        <td>
          {% if event.results_uploaded %}
                    <a
            href="{% url 'event:results' event.id %}"
            class="btn btn-success btn"
            tabindex="-1"
            role="button"
            aria-disabled="true"
            >Výsledky</a>

          {% else %}
            <a
            href="{% url 'event:event-detail' event.id %}"
            class="btn btn-secondary btn disabled"
            tabindex="-1"
            role="button"
            aria-disabled="true"
            >Výsledky</a>
          {% endif %}
          {% if request.user.is_superuser %}
          <td>
          <a
              href="{% url 'event:event-admin' event.id %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square ms-3 border-0 text-red-600" viewBox="0 0 16 16">
    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
  </svg></a>
        </td>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}
