{% extends 'base.html' %} {% block title %} Detail závodu {% endblock title %}
{% block content %}

<h1 class="text-4xl text-black-900 text-center mt-5 py-3 text-red-600">{{event.name | upper}}</h1>

<div class="container">


<div class="d-flex flex-row-reverse bd-highlight">

{% if event.results_uploaded %}
<div class="p-2 bd-highlight"><a
            href="{% url 'event:results' event.id %}"
            class="btn btn-outline-success"
            tabindex="-1"
            role="button"
            aria-disabled="true"
            >Zobrazit výsledky závodu</a></div>
{% endif %}

{% if request.user.is_superuser %}
        <div class="p-2 bd-highlight"><a
            href="{% url 'event:event-admin' event.id %}"
            class="btn btn-outline-info"
            tabindex="-1"
            role="button"
            aria-disabled="true">Administrace závodu</a></div>
{% endif %}
</div>
    <p class = "event-date">Datum : {{event.date}}</p>
    <p class = "event-date mt-2">Pořadatel : {{event.organizer}}</p>

{% if event.canceled %}
<div class="alert alert-danger h4 text-center" role="alert">
  POZOR! Závod je zrušen.
</div>

{% endif %}
    <div class="event-detail-header">Základní informace</div>
    <div class="container-date">
        <div class="row">
            <div class="w-100"></div>
            <div class="col col-info">PCP: {{event.pcp}}</div>
            <div class="col col-info">PCP ASSIST.: {{event.pcp_assist}}</div>
            <div class="col col-info">ŘEDITEL: {{event.director}} </div>
        </div>
    </div>

{% if not event.results_uploaded and not event.canceled %}
    <div class="registration">
        <div class="event-header">
            Možnosti přihlášení do závodu
        </div>
        <div class="event-content">
            <div class="row row-registration">
                <div class="col col-reg mt-2">REGISTRACE OTEVŘENA OD: <b>{{event.reg_open_from}}</b></div>
                <div class="col col-reg mt-2">REGISTRACE OTEVŘENA DO: <b>{{event.reg_open_to}}</b></div>
                {% if reg_open %}
                <div class="col col-reg"><a
                        href="{% url 'event:entry' event.id %}"
                        class="btn btn-warning"
                        tabindex="-1"
                        role="button"
                        aria-disabled="true"
                >Přihlásit do závodu</a></div>
                {% else %}
                <div class="col col-reg"><a
                    href="{% url 'event:entry' event.id %}"
                    class="btn btn-warning disabled"
                    tabindex="-1"
                    role="button"
                    aria-disabled="true"
            >Přihlásit do závodu</a></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

    <div class="race-sys">
        <div class="event-header">
            Systém závodů
        </div>
        <div class="event-content mt-2">{{event.system}}</div>
        {% if event.is_uci_race %}
        <div role="alert">
            <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2 mt-4">
             Upozornění
            </div>
            <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
              <p>Tento závod je zapsán v kalendáři UCI, proto Junior, Under 23 a Elite kategorie pojedou podle pravidel UCI a nikoliv platných prováděcích pokynů!</p>
            </div>
          </div>
        {% endif %}
    </div>

    <div class="classes">
        <div class="event-header">
            Kategorie
        </div>
        <div class="event-content"> xxx</div>
    </div>

    <div class="prices">
        <div class="event-header">
            Ceny
        </div>
        <div class="event-content">{{event.prices}}</div>
    </div>

    <div class="timeschedule">
        <div class="event-header">
            Časový harmonogram
        </div>
        <div class="event-content">{{event.timeschedule}}</div>
    </div>

    <div class="note">
        <div class="event-header">
            Poznámky:
        </div>
        <div class="event-content">{{event.notes}}</div>
    </div>

    <!-- Seznam přihlášených -->
    {% if event.results_uploaded  == 0 %}

        <div class="text-center text-2xl mt-4 text-red-600">
            SEZNAM PŘIHLÁŠENÝCH
        </div>

    <form method="POST" id="entriesForm">
        {% csrf_token %}
        <div class="container">
            <div class="row" style = "margin-top: 2rem; margin-bottom: 2rem">
                <div class="col-sm"><h1 class="text-center text-3xl text-blue-600">{{select_category | upper}}</h1></div>
                <div class="col-sm">
                    <select class="form-select" aria-label="Default select example" name="categoryInput" id="categoryInput">
                        <option selected>Vyber kategorii:</option>
                        {% for category in categories %}
                        <option value="{{category}}">{{category}}</option>
                        {% endfor %}
                    </select>
                </div>

                <script>
                    const selectEl = document.getElementById("categoryInput")
                    selectEl.addEventListener("change", () => document.getElementById("entriesForm").submit())
                </script>

                
             </div>
        </div>
    </form>
    {% endif %}

    {% if riders %}
    <h4>Celkem přihlášeno jezdců: {{riders_sum}} </h4>
    <table class="table table-hover mt-2" id="myTable">
      <thead>
        <tr>
          <th scope="col">Start.č.</th>
          <th scope="col">Příjmení</th>
          <th scope="col">Jméno</th>
          <th scope="col">Klub</th>
          <th scope="col">UCI ID</th>
        </tr>
      </thead>
      <tbody>
        {% for rider in riders %}
        <tr>
          <td scope="row">{{rider.plate}}</td>
          <td>{{rider.last_name|upper}}</td>
          <td>{{rider.first_name}}</td>
          <td>{{rider.club}}</td>
          <td>{{rider.uci_id}}</td>
        </tr>
              {% endfor%}
        </tbody>
        </table>
    {% else %}
    <h1 class="text-center main-header" style="margin-top: 2rem">{{select_category}}</h1>
    {% if alert %}
    <div class="alert alert-info" role="alert">
 Do této kategorie není dosud nikdo přihlášen.
</div>
    {% endif %}
    {% endif %}

</div>
{% endblock content %}
