{% extends 'base.html' %} {% block title %} Detail závodu {% endblock title %}
{% block content %}

<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-header">{{event.name | upper}}</h1>
    </div>
</header>

<div class="mx-10 mt-6">
    <div class="flex flex-row-reverse ">

        {% if event.xml_results %}
        <div class="btn--green flex items-center">
            <div>Výsledky  </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
            </svg>
        </div>
        {% endif %}

        <div class="p-2 "><a href="{% url 'event:entry-riders' event.id %}" class="btn--yellow"
            tabindex="-1" role="button" aria-disabled="true">Přihlášení jezdci</a></div>

        {% if request.user.is_superuser %}
        <div class="p-2 "><a href="{% url 'event:event-admin' event.id %}" class="btn--red"
                tabindex="-1" role="button" aria-disabled="true">Administrace závodu</a></div>
        {% endif %}
    </div>

    <div class="shadow-lg rounded-2xl px-12 pb-2">

        <div class="flex flex-row mt-4 py-4 bg-white overflow-hidden sm:rounded-md">
            <p class="text-3xl px-4 sm:px-6 lg:px-8 text-indigo-600 dark:dark--text basis-1/2">{{event.date}}</p>
            <p class="text-3xl px-4 sm:px-6 lg:px-8 text-indigo-600 dark:dark--text basis-1/2">{{event.organizer|upper}}</p>
        </div>
        {% if event.canceled %}
        <div class="alert alert-danger h4 text-center" role="alert">
            POZOR! Závod je zrušen.
        </div>

        {% endif %}

        <!-- Rozhodčí -->
        <div class="mt-4 px-4 sm:px-6 lg:px-8 text-3xl dark:dark--text">Rozhodčí</div>
        <div class="mt-4 bg-white overflow-hidden sm:rounded-md">
            <ul role="list" class="divide-y divide-gray-200">
                <li>
                    <a href="#" class="block hover:bg-gray-50">
                        <div class="flex items-center px-4 py-4 sm:px-6">
                            <div class="min-w-0 flex-1 flex items-center">
                                <!-- PCP -->
                                <div class="flex-shrink-0">
                                    <img class="h-12 w-12 rounded-full"
                                        src="{{event.pcp.photo.url}}"
                                        alt="">
                                </div>
                                <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                                    <div>
                                        <p class="text-sm font-medium text-indigo-600 truncate">{{event.pcp}}</p>
                                        <p class="mt-2 flex items-center text-sm text-gray-500">
                                            <span class="truncate">{{event.pcp.level}}</span>
                                        </p>
                                    </div>
                                </div>
                                <!-- PCP asist -->
                                <div class="flex-shrink-0">
                                    <img class="h-12 w-12 rounded-full"
                                        src="{{event.pcp_assist.photo.url}}"
                                        alt="">
                                </div>
                                <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                                    <div>
                                        <p class="text-sm font-medium text-indigo-600 truncate">{{event.pcp_assist}}</p>
                                        <p class="mt-2 flex items-center text-sm text-gray-500">
                                            <span class="truncate">{{event.pcp_assist.level}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="flex flex-row mb-4">
            <div class="basis-1/2">
                <!-- Registrace -->
                <div class="mt-4 px-4 sm:px-6 lg:px-8 text-3xl dark:dark--text ">On-line registrace</div>
                {% if not event.results_uploaded and not event.canceled %}
                <div class="bg-white overflow-hidden sm:rounded-md mt-2">
                    <div class="text-lg px-4 sm:px-6 lg:px-8 text-gray-600 dark:dark--text basis-1/2">od {{event.reg_open_from}} do
                        {{event.reg_open_to}} hod.</div>
                </div>
                {% else %}
                <div class="text-lg px-4 sm:px-6 lg:px-8 text-gray-600 dark:dark--text basis-1/2">Registrace nebyla otevřena nebo už byla
                    ukončena</div>
                {% endif %}

            </div>

            <div class="basis-1/2">
                <div class="mt-4 text-3xl dark:dark--text ">Systém závodů</div>
                <div class="bg-white overflow-hidden sm:rounded-md mt-2">
                    <div class="text-lg text-gray-600 dark:dark--text">{{event.system}}</div>
                </div>
            </div>
        </div>
        <!--UCI RACE -->
        {% if event.is_uci_race %}
            <div role="alert">
                <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2 mt-4">
                    Upozornění
                </div>
                <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                    <p> Tento závod je zapsán v kalendáři UCI, proto Junior, Under 23 a Elite kategorie pojedou
                        podle pravidel UCI a nikoliv podle platných prováděcích pokynů!</p>
                </div>
            </div>
        {% endif %}

    </div>
</div>

{% endblock content %}