{% extends 'base.html' %} 
{% block title %} Tabulka výpočtu{% endblock title %}
{% block content %}

<header class="shadow bg-white dark:dark">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <div class="text-3xl font-bold text-header">Tabulka výpočtu národního rankingu</div>
  </div>
</header>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 sm:px-6 lg:px-8">
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg mb-6">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50 dark:dark">
              <tr>
                <th rowspan="8" scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6"></th>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 dark:dark">Umístění</th>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 dark:dark">MČR</th>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 dark:dark">ČP</th>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 dark:dark">Ostatní</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white dark:dark">
                <tr>
                    <td rowspan="8" class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 dark:dark sm:pl-6">FINÁLE</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">1. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">350</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">150</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">60</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">2. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">300</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">130</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">45</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">3. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">250</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">115</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">40</td>
                </tr>
                                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">4. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">200</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">100</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">35</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">5. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">190</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">90</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">30</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">6. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">180</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">80</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">25</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">7. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">170</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">75</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">20</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">8. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">160</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">70</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">15</td>
                </tr>
                <tr>
                    <td rowspan="4" class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 dark:dark sm:pl-6">SEMIFINÁLE</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">9.-10. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">125</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">65</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">8</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">11.-12. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">120</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">60</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">6</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">13.-14. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">115</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">55</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">4</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">15.-16. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">110</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">50</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">2</td>
                </tr>
                <tr>
                    <td rowspan="4" class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 dark:dark sm:pl-6">ČTVRTFINÁLE</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">17.-20. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">90</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">40</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark"></td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">21.-24. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">80</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">35</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark"></td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">25.-28. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">70</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">30</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark"></td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">29.-32. místo</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">60</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark">25</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:dark"></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
