{% extends 'base.html' %} 
{% block title %} Ke stažení {% endblock title %}
{% load static %}
{% block content %}

<header class="shadow dark:dark">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold">Ke stažení</h1>
  </div>
</header>


<div class="container px-5 mx-auto mt-6">
  <div class="w-full pt-6" data-collapsible-main>
    <div class="flex justify-between border-b text-3xl" data-collapsible-head>
      <span>Pro jezdce</span>
      <span class="close text-4xl text-blue-500">+</span>
    </div>
    <div class="p-3" data-collapsible-body>
      {% for document in documents %}
        {% for tag in document.tags.all %}
          {% if tag.caption == 'Pro jezdce' %}
          <div>
            {{document.title}}
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </div>
  </div>

  <div class="w-full pt-6" data-collapsible-main>
    <div class="flex justify-between border-b text-3xl" data-collapsible-head>
      <span>Pro pořadatele</span>
      <span class="close text-4xl text-blue-500">+</span>
    </div>
    <div class="p-3" data-collapsible-body>
      {% for document in documents %}
        {% for tag in document.tags.all %}
          {% if tag.caption == 'Pro pořadatele' %}
          <div>
            {{document.title}}
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="w-full pt-6" data-collapsible-main>
    <div class="flex justify-between border-b text-3xl" data-collapsible-head>
      <span>Pro rozhodčí</span>
      <span class="close text-4xl text-blue-500">+</span>
    </div>
    <div class="p-3" data-collapsible-body>
      {% for document in documents %}
        {% for tag in document.tags.all %}
          {% if tag.caption == 'Pro rozhodčí' %}
          <div>
            {{document.title}}
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
  </div>
</div>
<div class="hidden"></div>

<script src = "{% static 'js/collapsible.js' %}"></script>

{% endblock content %}