{% extends 'base.html' %} {% block title %} Pravidla BMX {% endblock title %}
{% block content %}

<h1 class="text-4xl text-black-900 text-center mt-4 py-3 text-purple-700 mb-4">PRAVIDLA BMX</h1>

<div class="w-4/5 mx-auto mb-5">

    <p style="text-align: justify">Pravidla BMX RACING jsou stanovena mezinárodní cyklistickou unií UCI, která je
        pravidelně aktualizované
        zveřejňuje na svých webových stránkách www.uci.ch v sekci BMX RACING -> Rules and regulation v části Part. VI:
        BMX. Tato pravidla je nutno striktně dodržovat při závodech kategorie Championships, pokud je závod zapsán v
        kalendáři UCI. U ostatních závodů a u kategorie Challenge se může národní svaz od těchto pravidel odchýlit. Je
        tedy časté, že se zejména v postupových pravidlech v závodě liší klíče kategorie Challenge a pravidla kategorie
        Championships.
    </p>
    <p style="text-align: justify">
        Komise BMX Českého svazu cyklistiky se snaží své závody k pravidlům UCI co nejblíže přiblížit, neboť mnoho
        českých jezdců pravidelně jezdí na závodech Evropského poháru, Mistrovství Evropy či světa a je třeba, aby tato
        pravidla měli zažity.
    </p>

    <h5 class = "text-xl mt-4">Základní pravidla</h5>

    <p style="text-align: justify" class = "mt-4">Předně je třeba uvést, že tento výčet pravidel je toliko informativní a při jejich
        výkladu má vždy přednost anglická verze zveřejněná v dokumentu UCI Part VI: BMX. Současně uvádíme, že výčet není
        úplný, obsahuje pouze nejdůležitější či nejčastěji využívaná pravidla.
        Jezdec BMX RACING musí být držitelem licence Českého svazu cyklistiky či licence vydané jiným členským státem
        UCI, vyjma tzv. kategorie Příchozích (Novice) vypisované u některých druhů závodu.
        Závodní kolo musí být opatřeno boční tabulkou na rámu. Tato tabulka musí mít bílý podklad a nejméně 6 cm vysoké
        černé číslo, které jezdci bylo přiděleno v systému permanentních startovních čísel, či číslem 1-8, pokud se
        jezdec v aktuálním roce umístil na Mistrovství světa na 1-8 místě. Jezdci s číslem 1-8 jsou povinni při
        registraci do závodu uvést, pod jakým startovním číslem závod pojedou. Toto číslo jsou jezdci též povinni mít na
        přední tabulce umístěné na řídítkách, a to v barevném provedené podle následující tabulky (článek 6.1.091
        pravidel UCI):
    </p>
  
<div class = "container mt-3 mb-5" style = "width: 70%">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">KATEGORIE</th>
        <th scope="col">BAREVNÉ ROZLIŠENÍ</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr style = "background-color: white; color: black">
        <th scope="row"></th>
        <td>ELITE MEN/WOMEN</td>
        <td>bílý podklad, černé číslo</td>
        <td></td>
      </tr>
      <tr class = "bg-slate-500 text-white">
        <th scope="row"></th>
        <td>UNDER 23 MEN/WOMEN</td>
        <td>šedý podklad, bílé číslo</td>
        <td></td>
      </tr>
      <tr style = "background-color: black; color: white">
        <th scope="row"></th>
        <td>JUNIOR MEN/WOMEN</td>
        <td>černý podklad, bílé číslo</td>
        <td></td>
      </tr>
      <tr style = "background-color: red; color: white">
        <th scope="row"></th>
        <td>CRUISER</td>
        <td>červený podklad, bílé číslo</td>
        <td></td>
      </tr>
      <tr style = "background-color: blue; color: white">
        <th scope="row"></th>
        <td>GIRLS</td>
        <td>modrý podklad, bílé číslo</td>
        <td></td>
      </tr>
      <tr style = "background-color: yellow; color: black">
        <th scope="row"></th>
        <td>CHALLENGE</td>
        <td>Žlutý podklad, černé číslo</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
    <p style="text-align: justify; margin-top: 2rem">Přední tabulka musí mít rozměr dle pravidel UCI, tj. minimální výšku čísla 8 cm a
        šířku 1 cm.
        Pokud jezdec nemá přiděleno startovní číslo, je povinen si o číslo zažádat v online systému permanentních
        startovních čísel na tomto webu. Jezdec si vybere startovní číslo dle možností z volných čísel od 10 do
        999 s tím, že přednost při výběru čísel má jezdec s permanentním číslem UCI. Pokud v budoucnu dojde ke shodě
        čísel mezi jezdci UCI a jezdci z ČR, musí si jezdec ČR vybrat jiné číslo a původní číslo přenechat jezdci s
        permanentním číslem UCI. Vyplnění formuláře je zdarma.</p>
        <p style="text-align: justify" class = "mt-4">Každý jezdec je povinen při závodech, kde je použit ke zpracování výsledků systém MyLaps a BMX Event Manager či
        obdobný systém, startovat s čipem. Start bez čipu není možný. Poplatek za přidělení a aktivaci čipu je v prvním
        roce jeho užívání 1000,-Kč/rok, 1500,-Kč/2roky. Zapůjčení čipu pro cizince je za 250,-Kč/závod. Každý
        licencovaný jezdec je povinen vlastnit permanentní čip. Částka se hradí Asociaci klubů BMX a ta mu čip vydá před
        startem závodu. Pro kategorie příchozích na závodech České ligy a Moravské ligy je půjčovné 100,-Kč. Před
        použitím je nutné čip aktivovat v systému MyLaps, bez aktivace je čip nefunkční. Po aktivaci je čip aktivní 1
        rok od data aktivace. Pro další rok je nutné čip před vypršením platnosti znovu aktivovat za poplatek přibližně
        750,-Kč/rok, 1250,-Kč/2roky. Aktivaci je nutné provést on-line v účtu na webových stránkách www.mylaps.com.
        Každý jezdec je povinen si aktivaci a prodloužení čipu zajistit na vlastní odpovědnost. Bez platného a aktivního
        čipu bude jezdci v jízdě uložen trest DNF (článek 6.1.039 pravidel UCI). Čip nesmí být umístěn před osou
        předního kola a musí být umístěn na přední vidlici. Pokud bude zjištěno při závodě jiné umístění čipu, bude
        jezdci uložen trest DNS za jízdu, v níž jiné umístění čipu bylo zjištěno.</p>

        <p style="text-align: justify" class = "mt-4">Jezdec musí být vybaven integrální přilbou, dresem s dlouhým rukávem, kalhotami s dlouhými nohavicemi,
        dlouhoprstými rukavicemi a uzavřenou obuví. Krátké kalhoty nejsou povoleny ani v případě, kdy má pod nimi jezdec
        chrániče zakrývající nohy. Od závodní kategorie Boys 13 může jezdec používat systém tzv. SPD pedálů. Užití
        těchto pedálů jezdci nižších věkových kategorií je zakázáno, a to i v případě, že jsou mladší jezdci sloučení s
        kategorií Boys 13. Vyjma kategorie Championship nesmí mít jezdec na dresu číslo, pokud bude při závodě
        zjištěno porušení tohoto ustanovení, bude jezdci udělen trest <span class="text-red-500">RELEGATION</span>.</p>
        <p style="text-align: justify" class = "mt-4">Individuální reklama jezdce je povolena na pravém rukávu dresu jezdce.</p>
        <p style="text-align: justify" class = "mt-4">Na vyhlášení výsledků musí být jezdec oblečen kompletním závodním oblečení, tj. v dresu, dlouhých kalhotách a
        závodní či sportovní obuv. Při porušení tohoto pravidla bude jezdci uložen trest <span class="text-red-500">DISQUALIFICATION</span>.</p>
        <p style="text-align: justify" class = "mt-4">Použití kamery jezdcem při závodě je zakázáno.
        Použití kotoučových brzd je povoleno.<p>
        <p style="text-align: justify" class = "mt-4 mb-4">Pokud je k administraci závodu využit čipový systém, je pořadí výběru startovní dráhy založeno na čase poslední
        jízdy, vyjma základních rozjížděk, kde je pořádní náhodně rozlosováno (Scramle system). Může se tedy stát, že
        první si např. ve čtvrtfinále bude startovní dráhu vybírat ten, kdo se umístil na posledním postupovém místě
        (článek 6.1.029bis pravidel UCI).
    </p>

  </div>
{% endblock content %}
