{% extends 'base.html' %} {% block title %} {{ news.title }} {% endblock title %}
{% block content %}

<header class="shadow dark:dark">
    <div class="fixed w-full mx-auto py-2 dark:dark">
      <div class="text-center l-0 p-0 text-3xl font-bold text-header text-gray-900 dark:text-gray-400">{{news.title|upper}}</div>
    </div>
</header>

<div class="mx-auto pt-2 mb-2">
    <div class="mt-12">
        <img class="mx-auto max-h-fit max-w-screen-lg object-contain object-center" src="{{news.photo_01.url}}" alt="News photo"/>
    </div> 
</div>


<div class="max-w-screen-lg mx-auto">

<div class="mx-auto my-4 w-4/5">
    <author class="flex items-center px-6 pt-2 pb-4">
        <img class="w-10 h-10 rounded-full mr-4" src="{{news.created.photo.url}}" alt="Avatar of Writer">
        <div class="text-sm">
        <p class="inline-block text-gray-900 leading-none dark:dark--text">{{ news.created }}, </p>
        <p class="inline-block text-gray-500">{{news.publish_date}}</p>
            {% for tag in news.tags.all %}
                <p class="inline-block bg-red-200 rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2 ml-8">{{tag|upper}}</p>
            {% endfor %}
        </div>
    </author>

    <p class = "text-justify text-gray-500 dark:dark--text">{{news.content|safe}}</p>
</div>
</div>
{% endblock content %}