{% extends 'base.html' %} {% block title %} Novinky {% endblock title %}
{% block content %}

<header class="shadow-lg bg-gradient-to-r from-indigo-600 via-purple-600 to-indigo-800 text-white">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-white">
      NOVINKY ZE SVĚTA BMX
    </h1>
  </div>
</header>

<div class="mt-6 max-w-lg mx-auto px-3 grid gap-5 lg:grid-cols-3 lg:max-w-7xl mb-6">

  {% for article in news.object_list %}

              <article
                class="flex flex-col items-start justify-between bg-white dark:bg-gray-700 rounded-xl shadow-lg hover:shadow-2xl transition-all duration-300">
                <div class="flex flex-col justify-between">
                  <div class="relative w-full overflow-hidden rounded-xl">
                    <meta property="og:image" content="{{article.photo_01.url}}" />
                    <!-- Obrázek pro portrait a landscape režim -->
                    <img src="{{article.photo_01.url}}" alt="" class="w-full h-auto object-cover transform hover:scale-105 transition-all duration-300
                                                 max-w-full max-h-[400px]">
                  </div>
                  <div class="px-6 py-4">
                    <div class="flex items-center gap-x-4 text-xs text-gray-500 dark:text-gray-300">
                      <time datetime="2020-03-16">{{article.publish_date}}</time>
                      <a href="#"
                        class="inline-block rounded-full bg-blue-100 text-blue-600 py-1.5 px-3 text-xs font-medium hover:bg-blue-200 transition-all duration-200">
                        {% for tag in article.tags.all %}
                        {{ tag }}
                        {% endfor %}
                      </a>
                    </div>
                    <div class="mt-3">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">
                        <a href="{% url 'news:news-detail' article.id %}">
                          {{article.title | upper}}
                        </a>
                      </h3>
                      <p class="mt-5 text-sm text-gray-600 dark:text-gray-300 line-clamp-3">
                        {{ article.prefix|safe|truncatechars_html:400 }}</p>
                    </div>
                  </div>
                </div>
                <div class="relative mt-8 flex items-center gap-x-4 px-6 py-4">
                  <img src="{{article.created.photo.url}}" alt="" class="h-12 w-12 rounded-full bg-gray-100">
                  <div class="text-sm leading-6">
                    <p class="font-semibold text-gray-900 dark:text-gray-200">
                      <a href="#">
                        {{article.created}}
                      </a>
                    </p>
                    <p class="text-gray-600 dark:text-gray-300">{{article.time_to_read}} min. čtení</p>
                  </div>
                </div>
              </article>
  {% endfor %}
</div>
<!-- ====PAGINATION ==== -->

<div class="px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6 dark:dark">
  <div class="flex-1 flex justify-between sm:hidden">
    {% if news.has_previous %}
    <a href="{% url 'news:news-list' %}?page={{ news.previous_page_number }}"
      class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
      Previous
    </a>
    {% else %}
    <div></div>
    {% endif %}
    {% if news.has_next %}
    <a href="{% url 'news:news-list' %}?page={{ news.next_page_number }}"
      class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
      Next
    </a>
    {% endif %}
  </div>

  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700 dark:dark">
        Zobrazuji stránku
        <span class="font-medium">{{ news.number }}</span>
        z
        <span class="font-medium">{{ news.paginator.num_pages }}</span>
      </p>
    </div>

    <div>
      <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px dark:dark" aria-label="Pagination">
        <!-- First page link -->
        <a href="{% url 'news:news-list' %}?page=1" {% if is_first_page %}
          class="relative inline-flex items-center px-4 py-2 border text-sm font-medium bg-indigo-50 border-indigo-500 text-indigo-600"
          {% else %}
          class="relative inline-flex items-center px-4 py-2 border text-sm font-medium bg-white border-gray-300 text-gray-500 hover:bg-gray-50"
          {% endif %}>
          První
        </a>

        <!-- Previous page link -->
        {% if news.has_previous %}
        <a href="{% url 'news:news-list' %}?page={{ news.previous_page_number }}"
          class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
          <span class="sr-only">Previous</span>
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
        {% endif %}

        <!-- Current page -->
        <a href="#"
          class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
          {{ news.number }}
        </a>

        <!-- Next page link -->
        {% if news.has_next %}
        <a href="{% url 'news:news-list' %}?page={{ news.next_page_number }}"
          class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
          <span class="sr-only">Next</span>
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
        {% endif %}

        <!-- Last page link -->
        <a href="{% url 'news:news-list' %}?page={{ news.paginator.num_pages }}" {% if is_last_page %}
          class="relative inline-flex items-center px-4 py-2 border text-sm font-medium bg-indigo-50 border-indigo-500 text-indigo-600"
          {% else %}
          class="relative inline-flex items-center px-4 py-2 border text-sm font-medium bg-white border-gray-300 text-gray-500 hover:bg-gray-50"
          {% endif %}>
          Poslední
        </a>
      </nav>
    </div>
  </div>
</div>


{% endblock content %}