{% extends 'pages/base.html' %} {% block title %} Administrace jezdců{% endblock title %}
{% load static %}
{% block content %}

<div class = "container">

<h3 class = "text-center my-3 text-danger" >KONTROLA PLATNOSTI LICENCÍ</h3>

<div id="message" class="container alert-container">
{% if messages %}
{% for message in messages %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}
</div>

<form method="POST">
  {% csrf_token %}

  <div class="container">
  <div class="row">
    <div class="col-sm">
      <input type="text" class="form-control" name="username" placeholder = "Zadej username do API ČSC">
    </div>
    <div class="col-sm">
      <input type="password" class="form-control" name="password" placeholder="Zadej heslo fo API ČSC">
    </div>
    <div class="col-sm">
      <label> </label>
      <button type="submit" class="btn btn-danger blur" name="btnValidLicence" value="check">Zkontroluj platnost licencí</button>
    </div>
  </div>
  </div>
</form>

</div>

<div class="spinner div container position-absolute top-50 start-50 translate-middle" id="spinner">
    <div class="d-flex flex-column bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight text-center"><div class="spinner-border ms-auto text-success" style="width: 10rem; height: 10rem;" role="status" aria-hidden="true"></div></div>
        <div class="p-2 bd-highlight"><h1 class = "spinner-header text-center align-middle">PRACUJI.</h1></div>
        <div class="p-2 bd-highlight"><h5 class = "spinner-text text-center">Prosím o chvilku strpení.</h5></div>
    </div>
</div>

<script src = "{% static 'js/show_spinner.js' %}"></script>
<script src = "{% static 'js/alert_timeout.js' %}"></script>
{% endblock content %}
