@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
html {
  margin-top: 5rem;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  z-index: 99;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-link {
  font-size: 1.2rem;
}

/* --- Navigace --- */
.nav2 {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}

.nav2 .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 77px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.nav2 a {
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav2 a.current,
.nav2 a:hover {
  color: #cecece;
}

.nav2 a.current {
  font-weight: bold;
}

.nav2.active {
  background-color: white;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav2.active a {
  color: black;
}

.nav2.active a:hover,
.nav2.active a.current {
  color: #494949;
}

.nav2.active .nav-container {
  height: 70px;
}

#menuBtn {
  display: none;
}

/* --- Uciiid --- */
@media (max-width: 960px) {
  #menuBtn {
    display: block;
    margin-right: 50px;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: white;
  }
  .nav2 ul {
    display: none;
  }
  .nav2.mobile ul {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 77px;
    left: 0;
    right: 0;
    background-color: #333;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav2.active {
    background-color: #222;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav2 li {
    padding: 3px;
  }
  .nav2 li a {
    font-size: 1.3rem;
  }
  .nav2.active a {
    color: white;
  }
  .nav2 li:first-child {
    padding-top: 7px;
  }
  .nav2 li:last-child {
    padding-bottom: 7px;
  }
  .nav2.active a.current,
  .nav2.active a:hover {
    color: #cecece;
  }
  .nav2.active .nav-container {
    height: 77px;
  }
}

.carousel, .carousel-inner, .item {
  height: 100%;
  max-height: 70rem;
  margin-top: -0.5rem;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  position: absolute;
  bottom: 0;
  top: 100%;
}

.carousel-caption-h1 {
  font-size: 5rem;
  margin-top: -15rem;
  color: #f7f19c;
}

.main-header {
  margin-top: 1rem;
  text-transform: uppercase;
}

.instrument {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: 'Roboto', sans-serif;
}

.instrument-text {
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.instrument-subtext {
  font-size: 1.4rem;
  text-align: center;
}

#partners-image {
  width: 150px;
  height: 150px;
}

.contacts {
  background-color: dimgray;
  height: 400px;
}

.follow-us {
  font-size: 3rem;
}

.rider-detail-background-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.rider-detail-container {
  padding-top: 5rem;
  background-color: white;
}

.rider-detail-container .table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.rider-image {
  width: 20rem;
  height: 20rem;
}

.plate.small {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 50%;
}

.plate.small.red {
  background-color: red;
}

.rider-detail-header {
  color: black;
  margin-bottom: 2rem;
  text-transform: uppercase;
  margin: 3rem 0rem 0rem 0rem;
}

.repre {
  color: white;
  background-color: blue;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3rem;
}

.table {
  margin: auto;
}

.search {
  position: relative;
}

#myTable {
  margin-bottom: 10rem;
}

.registered {
  background-color: #0a5e0a;
}

.event-admin-header {
  margin-top: 3rem;
  font-size: 2rem;
}

.event-admin-flex {
  margin-top: 3rem;
}

.notification-header {
  font-size: 1.5rem;
  padding-top: 2rem;
  margin-top: 4rem;
  padding-top: 2rem;
}

.table-event-admin {
  margin-top: 3rem;
}

.event-header {
  font-size: 1.5rem;
}

.event-date {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.event-detail-header {
  margin-top: 2rem;
  font-size: 2rem;
}

.container-date {
  margin-top: 2rem;
}

.registration {
  margin-top: 2rem;
}

.race-sys {
  margin-top: 2rem;
}

.classes {
  margin-top: 2rem;
}

.fees {
  margin-top: 2rem;
}

.prices {
  margin-top: 2rem;
}

.timeschedule {
  margin-top: 2rem;
}

.note {
  margin-top: 2rem;
}

.entries {
  margin-top: 2rem;
}

.success-payment-header {
  margin-bottom: 3rem;
}

.spinner {
  position: fixed;
  overflow: hidden;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.spinner-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.spinner-text {
  margin-bottom: 2rem;
}

.arrow {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
}

.arrow:focus {
  outline: none;
}

#to-top {
  right: 2%;
  bottom: 5%;
  text-decoration: none;
}

#to-bottom {
  display: block;
  right: calc(3% + 60px);
  bottom: 5%;
  width: 300px;
  border-radius: 10px;
  font-size: 20px;
}

.uciid-container {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  width: 70%;
  max-width: 1000px;
  padding: 3rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 200px;
  height: auto;
  margin: 1.5rem;
  margin-left: 2rem;
}

.foto {
  margin-left: 2rem;
  width: 150px;
}

.foto img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.text-container {
  padding-left: 5rem;
  padding-top: 5rem;
}

.img-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nadpis h2 {
  text-align: center;
  font-size: 1.5rem;
}

.text {
  margin-right: 20px;
  margin-top: 2.5rem;
}

.alert-container {
  margin-top: 2rem;
}

/* --- Inputs --- */
.inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.uciid-input {
  width: 3.5rem;
  height: 3.5rem;
}

.inputs-container input {
  font-size: 2rem;
  margin: 1px;
  padding: 4px;
  text-align: center;
  border: 1px solid #ddd;
  -moz-appearance: textfield;
}

.inputs-container input:valid {
  border-color: #0051ff;
}

.inputs-container input:focus {
  outline-color: #0051ff;
}

.inputs-container input::-webkit-outer-spin-button,
.inputs-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* --- Button --- */
.btn-licence {
  display: block;
  background-color: #0051ff;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 10px 3px;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 14px;
  width: 80%;
  text-align: center;
}

.inputs-container button:focus {
  outline: none;
}

.inputs-container button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.club-num-riders {
  font-size: 1.3rem;
  margin-top: 2rem;
}

.club-detail-address {
  margin-top: 2rem;
}

.club-detail-contact {
  margin-top: 2rem;
}

.alert {
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 0;
  padding: 15px 20px;
  margin-bottom: 10px;
}

.alert .close {
  line-height: 15px;
}
/*# sourceMappingURL=main.css.map */