{% extends "emails/base_email.html" %}
{% load i18n %}
{% block subject %}{% trans "Resetování hesla Czech BMX" %}{% endblock %}
{% block body %}
<p class="greeting">{% trans "Ahoj," %}</p>
<div class="content">
  <p>{% trans "Obdrželi jsme žádost o resetování hesla k vašemu účtu na Czech BMX." %}</p>
  <p>{% trans "Kliknutím na tlačítko níže si nastavíte nové heslo. Odkaz je platný 24 hodin." %}</p>
</div>
<div class="btn-wrap">
  <a href="{{ reset_url }}" class="btn">{% trans "Nastavit nové heslo" %}</a>
</div>
<hr class="divider">
<p class="small">{% trans "Tlačítko nefunguje? Zkopírujte tento odkaz do prohlížeče:" %}<br>
  <a href="{{ reset_url }}" style="color:#6366f1;word-break:break-all">{{ reset_url }}</a>
</p>
<p class="small">{% trans "Pokud jste o reset hesla nežádali, tento e-mail ignorujte. Vaše heslo zůstává beze změny." %}</p>
{% endblock %}
