{% extends 'pages/base.html' %} {% block title %} Kluby {% endblock title %}
{% block content %}

<h1 class="text-center main-header">Kluby</h1>

<div class="container">

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Název klubu</th>
      <th scope="col">Kraj</th>
      <th scope="col">Kontaktní osoba</th>
      <th scope="col">Kontaktní telefon</th>
      <th scope="col">Kontaktní e-mail</th>
    </tr>
  </thead>
  <tbody>
  {% for club in clubs %}
    <tr>
      <th scope="row"><a
            href="{% url 'club:club-detail' club.id %}" style="text-decoration: none; color:black">{{club.team_name}}</a></th>
      <td>{{club.region}}</td>
      <td>{{club.contact_person}}</td>
      <td>{{club.contact_phone}}</td>
      <td>{{club.contact_email}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>

{% endblock content %}