{% extends 'base.html' %} 
{% block title %} Účast na závodech {% endblock title %}
{% block content %}

<header class="shadow dark:dark">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-header">{{club.team_name|upper}} - účast na závodech</h1>
    </div>
  </header>

<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">

    <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Závod</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Počet jezdců</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Vybraná částka</th>
          </tr>
        </thead>

  {% for participation in participations %}
    
  <tbody class="divide-y divide-gray-200">
    <tr>
      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ participation.name }}</td>
      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ participation.count }}</td>
      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ participation.sum}} CZK</td>
    </tr>
  </tbody>
  
  {% endfor %}
    </table>
</div>

{% endblock content %}