{% extends 'base.html' %} 
{% block title %} Účast na závodech {% endblock title %}
{% block content %}

<header class="shadow dark:dark">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-header dark:text-gray-200">{{club.team_name|upper}} - účast na závodech v roce {{year}}</h1>
    </div>
</header>

<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 dark:text-gray-200">

    <table class="min-w-full divide-y divide-gray-300 dark:text-gray-200">
        <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 dark:text-gray-200">Datum</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Název</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Počet jezdců</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Vybraná částka</th>
          </tr>
        </thead>

    <tbody class="divide-y divide-gray-200">
  {% for participation in participations %}
  
    <tr>
      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0 dark:text-gray-200">{{ participation.date }}</td>
      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-200">{{ participation.event.name }}</td>
      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-200">{{ participation.count }}</td>
      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-2000">{{ participation.sum}} CZK</td>
    </tr>
  {% endfor %}
  <tr>
    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-black font-bold sm:pl-0 dark:text-gray-200">Celkem:</td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
    <td class="whitespace-nowrap px-3 py-4 font-bold text-sm text-gray-500 dark:text-gray-200">{{ sum}} CZK</td>
  </tr>

  </tbody>
    </table>
</div>

{% endblock content %}