<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d6137ce3c002e914368ba8e011eaf35b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d6137ce3c002e914368ba8e011eaf35b" ></div>
        
</body>
<script>
    
    
            var map_d6137ce3c002e914368ba8e011eaf35b = L.map(
                "map_d6137ce3c002e914368ba8e011eaf35b",
                {
                    center: [49.7439047, 15.3381061],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9cc459a5381d79c9311cffde1f69e0e7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d6137ce3c002e914368ba8e011eaf35b);
        
    
            var marker_51800475988f134a50cf95fb431b01d9 = L.marker(
                [50.56184, 13.780156],
                {}
            ).addTo(map_d6137ce3c002e914368ba8e011eaf35b);
        
    
            var marker_3b645c2064e93da029270d3afa887ed3 = L.marker(
                [50.00077, 14.00113],
                {}
            ).addTo(map_d6137ce3c002e914368ba8e011eaf35b);
        
    
            var marker_1bb78dbf47ff6b17102598ff77a02cb3 = L.marker(
                [50.072127, 14.320164],
                {}
            ).addTo(map_d6137ce3c002e914368ba8e011eaf35b);
        
    
            var marker_fe83c047ac617130e0570eac9acca7e4 = L.marker(
                [50.29249, 14.860738],
                {}
            ).addTo(map_d6137ce3c002e914368ba8e011eaf35b);
        
    
            var marker_ba95e3cfcf1a4ba759fc67f420998f0d = L.marker(
                [49.393719, 13.30958],
                {}
            ).addTo(map_d6137ce3c002e914368ba8e011eaf35b);
        
    
            var marker_99a5023d43186e44cf0f947c56a5b4ab = L.marker(
                [50.038484, 15.754834],
                {}
            ).addTo(map_d6137ce3c002e914368ba8e011eaf35b);
        
    
            var marker_bcfb6fd22583ac379a53665de36aed69 = L.marker(
                [50.128415, 14.433186],
                {}
            ).addTo(map_d6137ce3c002e914368ba8e011eaf35b);
        
    
            var marker_4ec97e4f61d784bc5c51759cb5d4b4fa = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_d6137ce3c002e914368ba8e011eaf35b);
        
</script>
</html>