{% extends 'base.html' %}
{% load i18n %}

{% block title %}E-mail odeslán{% endblock title %}

{% block content %}
<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-2xl text-center">
        <h2 class="text-3xl font-extrabold text-gray-900 dark:text-white">Zkontroluj e-mail</h2>
        <p class="mt-4 text-sm text-gray-600 dark:text-slate-300">
            Pokud u nás účet s tímto e-mailem existuje, odeslali jsme ti odkaz pro nastavení nového hesla.
        </p>
    </div>
</div>
{% endblock content %}
