{% extends 'base.html' %}
{% block title %} Detail jezdce {% endblock title %}
{% block content %}
{% load static %}

<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-header">Detail jezdce</h1>
    </div>
</header>

<!-- <img class = "rider-detail-background-image" src="{% static 'images/homepage/bg2.jpg' %}" alt=""> -->
<div class="mt-6 dark:bg-gray-800">
    <div class="d-flex flex-row bd-highlight  mb-3 justify-content-center">
        <div class="p-2 bd-highlight align-self-end">
            {% if rider.is_20 %} 
                {% if rider.plate_color_20 == 'blue' %}
                    <div class="plate small"
                    style="background-color: darkblue; color: white">
                    {{rider.plate}}
                </div>
                {% elif rider.plate_color_20 == 'gray'%}
                <div class="plate small" style="background-color: gray; color: white">
                    {{rider.plate}}
                </div>
                {% elif rider.plate_color_20 == 'yellow'%}
                <div class="plate small" style="background-color: yellow; color: black">
                    {{rider.plate}}
                </div>
                {% elif rider.plate_color_20 == 'black'%}
                <div class="plate small" style="background-color: black; color: white">
                    {{rider.plate}}
                </div>
                {% elif rider.plate_color_20 == 'white'%}
                <div class="plate small"
                    style="background-color: white; color: black; border: 1px black solid">
                    {{rider.plate}}
                </div>
                {% endif %}
                {% endif %} 
        </div>
        <div class="p-2 bd-highlight">
            <div class="">
                <img src="{{rider.photo.url}}" class="w-48 h-48 md:w-80 md:h-80 rounded-full mx-auto"/>
            </div>
        </div>
        <div class="p-2 bd-highlight align-self-end">
            {% if rider.is_24%}
                <div class="plate small red">{{rider.plate}}</div>
            {% endif %}
        </div>
    </div>

    <h1 class="display-4 text-center dark:text-purple-300" style="margin-bottom: 3rem">
        {{ rider.first_name|upper}} {{ rider.last_name|upper}}
    </h1>
    {% if rider.is_in_representation %}
        <div class="d-flex flex-row bd-highlight mb-3 ">
            <div class="p-0 bd-highlight dark:text-gray-200" style="margin-bottom: 1rem;"><h5><span
                    class="repre">Člen národní reprezentace</span></h5></div>
        </div>
    {% endif %}
    {% if rider.is_in_talent_team %}
        <div class="d-flex flex-row bd-highlight mb-3 ">
            <div class="p-0 bd-highlight" style="margin-bottom: 1rem;"><h5><span
                    class="repre">Člen národního talent teamu</span></h5></div>
        </div>
    {% endif %}

    <div class="container dark:text-gray-200">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h5>UCI ID: <b>{{rider.uci_id}}</b></h5>
                </div>
                <div class="col-sm">
                    <h5>Klub: <b>{{ rider.club }}</b></h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm mt-2">
                    <h5>Transpondér pro 20": <b>
                        {% if rider.transponder_20 == "nan" %}
                            nemá přidělen
                        {% else %}
                            {{rider.transponder_20}}
                        {% endif%}
                    </b></h5>
                </div>
                <div class="col-sm mt-2">
                    <h5>Transpondér pro 24": <b>
                        {% if rider.transponder_24 == "nan" %}
                            nemá přidělen
                        {% else %}
                            {{rider.transponder_24}}
                        {% endif%}
                    </b></h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm mt-2">
                    <h5>Pořadí v rankingu v <b>{{rider.class_20}}</b> (20"): <b>
                        {% if rider.ranking_20 == None or rider.ranking_20 == "0" %}
                        nejezdí/neboduje
                        {% else %}
                        {{rider.ranking_20}}. místo
                        {% endif %}
                    </b></h5>
                </div>
                <div class="col-sm mt-2">
                    <h5>Pořadí v rankingu v <b>{{rider.class_24}}</b> (24"): <b>
                        {% if rider.ranking_24 == None or rider.ranking_24 == "0" %}
                        nejezdí/neboduje
                        {% else %}
                        {{rider.ranking_24}}. místo
                        {% endif %}
                    </b></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="display-6 text-center rider-detail-header dark:text-purple-300" style="margin-bottom: 2rem">
    Umístění za poslední rok
</h3>
{% if results %}

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <p class="mt-2 ml-8 text-sm text-gray-700">Fialová barva v tabulce označuje bodované závody na 20-ti palových kolech, modrá na cruiserech, bílá označuje závody, které se do rankingu nezapočítají.</p>
      </div>

    </div>
    <div class="mx-4 mt-8 mb-6 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
           <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Datum</th>
            <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Závod</th>
            <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Pořadatel</th>
            <th scope="col" class="hidden md:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Typ závodu</th>
            <th scope="col" class="hidden md:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Kategorie</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Umístění</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Počet bodů</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
            {% for result in results %}
            {% if result.marked_20 %}
            <tr class="bg-purple-100 text-white dark:bg-purple-900" >
            {% elif result.marked_24 %}
            <tr class="bg-blue-100 text-white dark:bg-blue-800" >
            {% else %}
            <tr>
            {% endif %}
            <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
                {{ result.date }}
              <dl class="font-normal lg:hidden">
                <dt class="sr-only">Title</dt>
                <dd class="mt-1 truncate text-gray-700">{{ result.name }}</dd>
                <dt class="sr-only sm:hidden">Organizátor</dt>
                <dd class="mt-1 truncate text-gray-500 sm:hidden">{{ result.organizer|upper }}</dd>
              </dl>
            </td>
            <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">{{ result.name }}</td>
            <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{ result.organizer|upper }}</td>
            <td class="hidden md:table-cell px-3 py-4 text-sm text-gray-500">{{ result.event_type }}</td>
            <td class="hidden md:table-cell px-3 py-4 text-sm text-gray-500">{{ result.category }}</td>
            <td class="px-3 py-4 text-sm text-gray-500">{{ result.place }}. místo</td>
            <td class="px-3 py-4 text-sm text-gray-500">{{ result.points }}</td>
          </tr>
          {% endfor %}
          <!-- More people... -->
        </tbody>
      </table>
    </div>
  </div>
 
{% else %}
    <h5 style = "text-align: center" class="dark:text-gray-200">Jezdec/jezdkyně nejel/a za poslední rok žádný závod.</h5>
{% endif %}
</div>
{% endblock content %}
