{% extends 'base.html' %} {% block title %} Žádost o startovní číslo
{% endblock title %} {% block content %}

<h1 class="text-center text-4xl mt-6 text-green-600">Žádost o startovní číslo</h1>

<div id="message" class="container alert-container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">{{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="container">
    <form method="POST" class="well form-horizontal">
        {% csrf_token %}
        <div class="form-group">

            <div class="form-group">
                <label for="InputUciid">UCI ID</label>
                <input
                        type="text"
                        class="form-control"
                        id="InputUciid"
                        name="InputUciid"
                        aria-describedby="uciidHelp"
                        value="{{uci_id}}"
                        disabled/>

                <div class="row" style="margin-top: 1rem">
                    <div class="col">
                        <div class="form-group">
                            <label for="InputFirstName">Jméno</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="InputFirstName"
                                    name="InputFirstName"
                                    aria-describedby="firstNameHelp"
                                    value="{{first_name}}"
                                    disabled/>
                            <small id="firstNameHelp" class="form-text text-muted"></small>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="InputLastName">Příjmení</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="InputLastName"
                                    name="InputLastName"
                                    aria-describedby="lastNameHelp"
                                    value="{{last_name}}"
                                    disabled/>
                            <small id="lastNameHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 1rem">
                    <div class="col">
                        <div class="form-group">
                            <label for="InputDateOfBirth">Datum narození</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="InputDateOfBirth"
                                    name="InputDateOfBirth"
                                    placeholder="{{date_of_birth}}"
                                    value="{{date_of_birth}}"
                                    disabled/>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="InputEmail">Emailová adresa</label>
                            <input
                                    type="email"
                                    class="form-control"
                                    id="InputEmail"
                                    name="InputEmail"
                                    aria-describedby="emailHelp"
                                    placeholder="Sem napiš svoji e-mailovou adresu"
                                    required/>
                            <small id="emailHelp" class="form-text text-muted">.</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="InputEmergencyContact">Jméno nouzového kontaktu</label>
                    <input
                            type="text"
                            class="form-control"
                            id="InputEmergencyContact"
                            name="InputEmergencyContact"
                            aria-describedby="EmergencyContactHelp"
                            placeholder="Sem napiš jméno nouzového kontaktu"
                    />
                    <small id="EmergencyContactHelp" class="form-text text-muted"></small>
                </div>

                <div class="form-group" style="margin-top: 1rem">
                    <label for="InputEmergencyPhone">Telefon na nouzový kontakt</label>
                    <input
                            type="text"
                            class="form-control"
                            id="InputEmergencyPhone"
                            name="InputEmergencyPhone"
                            aria-describedby="EmergencyPhoneHelp"
                            placeholder="Sem napiš telefon na nouzový kontakt"/>
                    <small id="EmergencyPhoneHelp" class="form-text text-muted"></small>
                </div>

                <div class="row" style="margin-top: 1rem">
                    <div class="col">
                        <label class="my-1 mr-2" for="SelectGender"
                        >Pohlaví</label>
                        <select
                                class="form-select my-1 mr-sm-2"
                                id="SelectGender"
                                name="SelectGender"
                                disabled>
                            <option value="{{gender}}">{{gender}}</option>

                        </select>
                    </div>
                    <div class="col">
                        <label class="my-1 mr-2" for="SelectClub"
                        >Vyber svůj klub</label>
                        <select
                                class="form-select my-1 mr-sm-2"
                                id="SelectClub"
                                name="SelectClub">
                            <option selected>Vyber...</option>
                            {% for club in clubs %}
                            <option value="{{club.id}}">{{club.team_name|upper}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col">
                        <label class="my-1 mr-2" for="SelectFreePlate"
                        >Vyber své startovní číslo</label
                        >
                        <select
                                class="form-select my-1 mr-sm-2"
                                id="SelectFreePlate"
                                name="SelectFreePlate">
                            <option selected>Vyber...</option>
                            {% for free_plate in free_plates %}
                            <option value="{{free_plate}}">{{free_plate}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>

                <div class="form-check form-switch" style="margin-top:1rem">
                    <input class="form-check-input" type="checkbox" id="CheckIs20" name="CheckIs20">
                    <label class="form-check-label" for="CheckIs20">Budu závodit na 20-ti palcovém kole</label>
                </div>

                <div class="form-check form-switch" style="margin-top:1rem">
                    <input class="form-check-input" type="checkbox" id="CheckIs24" name="CheckIs24">
                    <label class="form-check-label" for="CheckIs24">Budu závodit na 24-ti palcovém kole (cruiseru)</label>
                </div>

                <div class="form-check form-switch" style="margin-top:1rem">
                    <input class="form-check-input" type="checkbox" id="CheckElite" name="CheckElite">
                    <label class="form-check-label" for="CheckElite">Jsem jezdec kategorie Junior/Elite</label>
                </div>

                {% if gender == "Žena" %}

                <div class="form-check form-switch" style="margin-top:1rem">
                    <input class="form-check-input" type="checkbox" id="CheckBonus" name="CheckBonus" checked>
                    <label class="form-check-label" for="CheckBonus">Chci bonus pro dívky. Dívky mohou jezdit s chlapci o rok
                        mladšími.</label>
                </div>

                {% endif %}
                <button type="submit" class="text-green-700 hover:text-white text-xl border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800 mt-8">
                    Odešli žádost ke schválení
                </button>
    </form>
</div>

{% endblock content %}
