{% extends 'base.html' %} 
{% block title %} Neaktivní jezdci {% endblock title %}
{% load static %}
{% block content %}

<header class="bg-white shadow">
  <div class="fixed ml-0 p-0 w-full mx-auto py-2 bg-white">
      <div class="flex justify-between max-w-7xl text-3xl mx-auto font-bold text-gray-900 my-4">
        <div>Seznam neaktivních jezdců</div>
          <div>
            <button type="submit" class="text-md btn--green" id="to-bottom">
              Vyřadit startovní čísla
            </button>
          </div>
        </div>
    </div>
  </div>
</header>

<div class="max-w-7xl mx-auto pt-32">
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900"></h1>
      <p class="mt-2 text-sm text-gray-700">Tato tabulka obsahuje seznam jezdců, kteří za poslední dva roky neodjeli žádný závod</p>
    </div>
  </div>
  <div class="-mx-4 mt-8 mb-6 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Příjmení</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Jméno</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">UCI ID</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Klub</th>
          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        {% for rider in riders %}
        <tr>
          <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
            {{rider.last_name|upper}}
            <dl class="font-normal lg:hidden">
              <dt class="sr-only">Title</dt>
              <dd class="mt-1 truncate text-gray-700">{{rider.first_name}}</dd>
              <dt class="sr-only sm:hidden">Email</dt>
              <dd class="mt-1 truncate text-gray-500 sm:hidden">{{rider.uci_id}}</dd>
            </dl>
          </td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">{{rider.first_name}}</td>
          <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{rider.uci_id}}</td>
          <td class="px-3 py-4 text-sm text-gray-500">{{rider.club|upper}}</td>
          <td class="py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
            <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, {{rider.last_name|upper}}</span></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>

{% endblock content %}