{% extends 'pages/base.html' %} 
{% block title %} Jezdci {% endblock title %} 
{% load static %} 
{% block content %}

<h1 class="text-4xl text-black-900 text-center mt-4 py-3 text-red-600">SEZNAM JEZDCŮ BMX</h1>

<div class="container">
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
      {% if request.user.is_superuser %}
      <a
        href="{% url 'rider:admin' %}"
        class="btn btn-outline-danger btn"
        tabindex="-1"
        role="button"
        aria-disabled="true"
        >Administrace jezdců</a
      >
      {% endif %}
    </div>
    <div class="p-2 bd-highlight">
      <a
        href="{% url 'rider:new' %}"
        class="btn btn-outline-success btn"
        tabindex="-1"
        role="button"
        aria-disabled="true"
        >Požádat o startovní číslo</a>
    </div>
  </div>

  <div class="container search" style="margin-top: 2rem">
    <div class="row">
      <div class="col-sm">
        <input
          class="form-control focus:ring-2 focus:ring-blue-600 rounded"
          type="text"
          placeholder="Napiš příjmení jezdce"
          aria-label="default input example"
          onkeyup="searchByLastName()"
          id="inputLastName"/>
      </div>
      <div class="col-sm">
        <input
          class="form-control focus:ring-2 focus:ring-blue-600 rounded"
          type="text"
          placeholder="Napiš jméno klubu"
          aria-label="default input example"
          onkeyup="searchByClub()"
          id="inputClub"/>
      </div>
    </div>
    <div class="col-sm" style="margin-bottom: 2rem"></div>

    <table
      class="table table-borderless align-middle table-hover"
      id="myTable"
      style="margin-bottom: 2rem">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">St. číslo</th>
          <th scope="col">Příjmení</th>
          <th scope="col">Jméno</th>
          <th scope="col">Klub</th>
          <th scope="col">UCI ID</th>
        </tr>
      </thead>
      <tbody>
        {% for rider in riders %}
        
        <tr>
          <th scope="row">
            <img
              class="avatar img-fluid rounded-circle"
              src="{{rider.photo.url}}"
              alt=""
              sizes="10px"
              srcset=""
              style="width: 2rem; height: 2rem"
            />
          </th>
          <td>{{rider.plate}}</td>
          <td>
            <a
              href="{% url 'rider:detail' rider.id %}"
              style="text-decoration: none; color: black"
              class="text-dark"
              aria-disabled="true"
              >{{rider.last_name|upper}}</a
            >
          </td>
          <td><a
              href="{% url 'rider:detail' rider.id %}"
              style="text-decoration: none; color: black"
              class="text-dark"
              aria-disabled="true"
              >{{rider.first_name}}</a></td>
          <td class="text-sm">{{rider.club | upper}}</td>
          {% if rider.have_valid_licence %}
          <td><span class="inline-block text-center px-2 text-sm">{{rider.uci_id}}</span></td>
          {% else %}
          <td>
            <span
              class="
                inline-block
                bg-red-200
                rounded-full
                text-center
                px-2
                text-sm"
              ><b>{{rider.uci_id}}</b></span
            >
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="#" class="arrow" id="to-top">
        <i class="bi bi-arrow-up-square-fill"></i>
    </a>
  </div>
  <script src="{% static 'js/rider.js' %}"></script>
  <script src="{% static 'js/arrow.js' %}"></script>
</div>

{% endblock content %}
