{% extends 'base.html' %} {% block title %} Administrace jezdců{% endblock title %}
{% load static %}
{% block content %}

<header class="shadow dark:dark">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-header">Administrace jezdců</h1>
  </div>
</header>

<div id="message" class="mb-4">
{% if messages %}
{% for message in messages %}
  <div role="alert">
    <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
      Upozornění
    </div>
    <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
      <p>{{message}}.</p>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>

<div class="max-w-7xl mx-auto">

  <div class="grid grid-cols-4 mt-10">
    <div class=" text-center">
      <a href = "{% url 'rider:ranking'%}" class="rounded-md bg-indigo-600 mx-2 py-2.5 px-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Přepočítej ranking</a>
    </div>

    <div class="text-center">
      <a href = "{% url 'rider:inactive' %}" class="rounded-md bg-indigo-600 mx-2 py-2.5 px-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Neaktivní jezdci</a>
    </div>

    <div class="text-center">
      <a href = "{% url 'rider:licence'%}" class="rounded-md bg-indigo-600 mx-2 py-2.5 px-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Zkontroluj platnost licencí</a>
    </div>

     <div class=" text-center">
      <a href = "{% url 'rider:participation'%}" class="rounded-md bg-indigo-600 mx-2 py-2.5 px-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Účast jezdců na závodech</a>
    </div>
  </div>

  <div class="grid grid-cols-4 mt-10">
    <div class=" text-center">
      <a href = "{% url 'rider:recalculate-classes'%}" class="rounded-md bg-indigo-600 mx-2 py-2.5 px-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Přepočítej kategorie</a>
    </div>
    
    <div class=" text-center">
      <a href = "{% url 'rider:cruiser'%}" class="rounded-md bg-indigo-600 mx-2 py-2.5 px-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Přepočítej medián cruiserů</a>
    </div>

    <div class=" text-center">
      <a href = "{% url 'rider:riders-by-class'%}" class="rounded-md bg-indigo-600 mx-2 py-2.5 px-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Jezdci dle klubů a kategorií</a>
    </div>
</div>

</div>

<script src = "{% static 'js/alert_timeout.js' %}"></script>
{% endblock content %}
