{% extends 'base.html' %}
{% block title %} Detail jezdce {% endblock title %}
{% block content %}
{% load static %}

<!-- <img class = "rider-detail-background-image" src="{% static 'images/homepage/bg2.jpg' %}" alt=""> -->
<div class="container rider-detail-container">
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight align-self-end">
            {% if rider.is_20 %} {% if rider.plate_color_20 == 'blue' %}
            <div class="plate small"
                    style="background-color: darkblue; color: white">
                {{rider.plate}}
            </div>
            {% elif rider.plate_color_20 == 'gray'%}
            <div class="plate small" style="background-color: gray; color: white">
                {{rider.plate}}
            </div>
            {% elif rider.plate_color_20 == 'yellow'%}
            <div class="plate small" style="background-color: yellow; color: black">
                {{rider.plate}}
            </div>
            {% elif rider.plate_color_20 == 'black'%}
            <div class="plate small" style="background-color: black; color: white">
                {{rider.plate}}
            </div>
            {% elif rider.plate_color_20 == 'white'%}
            <div
                    class="plate small"
                    style="background-color: white; color: black; border: 1px black solid">
                {{rider.plate}}
            </div>
            {% endif %} {% endif %}
        </div>
        <div class="p-2 bd-highlight">
            <div>
                <img
                        src="{{rider.photo.url}}"
                        alt=""
                        sizes="100px"
                        srcset=""
                        class="rounded-circle rider-image"
                />
            </div>
        </div>
        <div class="p-2 bd-highlight align-self-end">
            {% if rider.is_24%}
            <div class="plate small red">{{rider.plate}}</div>
            {% endif %}
        </div>
    </div>

    <h1 class="display-4 text-center rider-detail-header" style="margin-bottom: 3rem">
        {{ rider.first_name}} {{ rider.last_name}}
    </h1>
    {% if rider.is_in_representation %}
    <div class="d-flex flex-row bd-highlight mb-3 ">
        <div class="p-0 bd-highlight" style="margin-bottom: 1rem;"><h5><span
                class="repre">Člen národní reprezentace</span></h5></div>
    </div>
    {% endif %}
    {% if rider.is_in_talent_team %}
    <div class="d-flex flex-row bd-highlight mb-3 ">
        <div class="p-0 bd-highlight" style="margin-bottom: 1rem;"><h5><span
                class="repre">Člen národního talent teamu</span></h5></div>
    </div>
    {% endif %}

    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h5>UCI ID: <b>{{rider.uci_id}}</b></h5>
                </div>
                <div class="col-sm">
                    <h5>Klub: <b>{{ rider.club }}</b></h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm mt-2">
                    <h5>Transpondér pro 20": <b>{{rider.transponder_20}}</b></h5>
                </div>
                <div class="col-sm mt-2">
                    <h5>Transpondér pro 24": <b>{{rider.transponder_24}}</b></h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm mt-2">
                    <h5>Pořadí v rankingu v <b>{{rider.class_20}}</b> (20"): <b>
                        {% if rider.ranking_20 == None %}
                        nejezdí/neboduje
                        {% else %}
                        {{rider.ranking_20}}. místo
                        {% endif %}
                    </b></h5>
                </div>
                <div class="col-sm mt-2">
                    <h5>Pořadí v rankingu v <b>{{rider.class_24}}</b> (24"): <b>
                        {% if rider.ranking_24 == None %}
                        nejezdí/neboduje
                        {% else %}
                        {{rider.ranking_24}}. místo
                        {% endif %}
                    </b></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="display-6 text-center rider-detail-header" style="margin-bottom: 2rem">
    Umístění za poslední rok
</h3>
{% if results %}
<div class="container">
    <table class="table" style="padding-left: 5rem; padding-right: 5rem; margin-bottom: 3rem">
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Název závodu</th>
            <th scope="col">Pořadatel</th>
            <th scope="col">Typ závodu</th>
            <th scope="col">Kategorie</th>
            <th scope="col">Umístění</th>
            <th scope="col">Počet bodů</th>
        </tr>
        </thead>
        <tbody>


        {% for result in results %}
        {% if result.marked_20 %}
        <tr class="table-primary" >
        {% elif result.marked_24 %}
        <tr class="table-info" >
        {% else %}
        <tr>
        {% endif %}
            <th scope="row">{{ result.date }}</th>
            <td>{{ result.name }}</td>
            <td>{{ result.organizer|upper }}</td>
            <td>{{ result.event_type }}</td>
            <td>{{ result.category }}</td>
            <td>{{ result.place }}. místo</td>
            <td>{{ result.points }}</td>
        </tr>
        {% endfor %}


        </tbody>
    </table>

    {% else %}
    <h5 style = "text-align: center">Jezdec/jezdkyně nejel/a za poslední rok žádný závod.</h5>
            {% endif %}
</div>
{% endblock content %}
