{% extends 'base.html' %} {% block title %} Administrace jezdců{% endblock title %}
{% load static %}
{% block content %}

<header class="shadow dark:dark">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-header">Administrace jezdců</h1>
  </div>
</header>

<div id="message" class="mb-4">
{% if messages %}
{% for message in messages %}
  <div role="alert">
    <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
      Upozornění
    </div>
    <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
      <p>{{message}}.</p>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>

<div class="max-w-7xl mx-auto">
<div class="flex flex-row mt-10">
  <div class="basis-1/3 text-center">
    <a href = "{% url 'rider:ranking'%}" class="btn--red blurApp">Přepočítej ranking</a>
  </div>

  <div class="basis-1/3 text-center">
    <a href = "{% url 'rider:inactive' %}" class="btn--red blurApp">Neaktivní jezdci</a>
  </div>

  <div class="basis-1/3 text-center">
    <a href = "{% url 'rider:licence'%}" class="btn--red blurApp">Zkontroluj platnost licencí</a>
  </div>
</div>
</div>

{% include "spinner.html" %}
</div>
<script src = "{% static 'js/alert_timeout.js' %}"></script>
{% endblock content %}
