<nav class="nav2 print:hidden">
    <div class="nav-container">
        <h1><a href="{% url 'news:home' %}">czech bmx website</a></h1>

        <button type="menu" id="menuBtn">☰</button>

        <ul>
            <li><a {% if '/' == request.path %}
                class="current"
                {% endif %}
                aria-current="page"
                href="{% url 'news:home' %}">Home
              </a>
            </li>
            <li><a {% if 'news' in request.path %}
                class="current"
                {% endif %}
                href="{% url 'news:news-list' %}">Články</a>
            </li>
            <li><a {% if 'event' in request.path %}
                class="current"
                {% endif %}
                href="{% url 'event:events' %}">Závody
              </a>
            </li>
            <li>
                <a {% if 'rider' in request.path %}
                  class="current"
                  {% endif %}
                  href="{% url 'rider:list' %}"
                    >Jezdci
                </a>
            </li>
            <li><a {% if 'club' in request.path %}
                class="current"
                {% endif %}
                href="{% url 'club:clubs-list' %}">Kluby
            </a></li>
            <li><a {% if 'ranking' in request.path %}
                class="current"
                {% endif %}
                href="{% url 'ranking:ranking' %}">Ranking
              </a></li>
            <li><a {% if 'rules' in request.path %}
                class="curren"
              {% endif %} href="{% url 'news:rules' %}">Pravidla
            </a></li>
            <li><a {% if user.is_authenticated %}
                 href="{% url 'logout' %}">Odhlášení
                {% else %}
                 href="{% url 'login' %}">Přihlášení
                {% endif %}
                </a>
            </li>
        </ul>
    </div>
</nav>
